@use './var'as var;
@use './mixin' as mixin;
@use './basic';
// -------------------------------------------

#root{
  @include mixin.container-style(100vw, 600vh, space-between, center, column );
} 

//---header-----------------------------------
header{
  @include mixin.container-style(1080px, 3.8%, flex-end, center, column);
  background-color: white;
  position: sticky;
  top: 0;
  // z-index: 2;
}

// header-top------------------------------
.header-top{
  @include mixin.container-style(100%,40%, space-between, center);
  // border: #2c2c2c solid 2px;

  &>a{
    @include mixin.size(35%, 100%);
    // border: rebeccapurple solid 3px;

    &>img{   
      @include mixin.size(100%, 100%);
    }
  }
}

.site-menu{
  @include mixin.container-style(50%,80%, space-around, flex-start);

  &>div{
    @include mixin.container-style(25%,30%, center, center);
    // border: #2c2c2c solid 1px;
    
    &>a{
      @include mixin.container-style(100%,100%, center, center);
      font-size: 0.8rem
    }
  }

  @for $i from 1 through 3 {
    &>div:nth-child(#{$i}){
      border-right: 2px solid var.$col-3;
    }
  }
}
// header-top------------------------------

// header-bottom------------------------------
.header-bottom{
  @include mixin.container-style(100%,50%, space-between, flex-end);
  // background-color: aliceblue;
  &>div:first-child{
    @include mixin.container-style(70%,50%, space-around, center);
    // background-color: antiquewhite
  }
}
// header-bottom------------------------------

.drdwon-menu{
  @include mixin.container-style(100%,100%, space-around, center);
  &>div{
    @include mixin.container-style(20%,100%, space-evenly, center);
    // border: #2c2c2c solid 1px;
    // padding-left: 1vw;

    &>img{
      @include mixin.size(20px,20px);
    }
  }
}

// search-box-class-setting------------------------------
  .search-box{
    @include mixin.container-style(30%,50%, center, center);
    // background-color: #2c2c2c;
  }

  .text-area{
    width: 300px;
    height: 30px;
    // background-color: #ff7c7c;
    border-radius: 20px;
    // background-color: #ff7c7c;
    padding-left: 10px;
    @include mixin.font(0.8rem, 500, #2c2c2c);
  }

  .search-btn{
    @include mixin.container-style(20px,20px, center, center);
    @include mixin.posi(absolute, 83%, 96%);
    // border: #222 solid 1px;
  }
// search-box-class-setting------------------------------

//---main-----------------------------------
main{
  @include mixin.container-style(1080px, 86.2%, space-around, center, column);
  background-color: cadetblue;
}

//---footer-----------------------------------
footer{
  @include mixin.container-style(1080px, 10%, space-between, center, column);
  color: var.$col-3;

  &>div:first-child{
    @include mixin.container-style(30%, 13%, center, center, column);
    margin-top: 2vh;
    // border: solid black 1px;

    &>h2{
      @include mixin.container-style(100%, 40%, center, center);
    }
    &>h4{
      @include mixin.container-style(100%, 40%, center, center);
    }
  }
  &>div:last-child{
    @include mixin.container-style(100%, 7%, center, center, column);
    background-color: var.$col-1;
  }
}

#guid-menu{
  @include mixin.container-style(100%, 70%, space-around, center, column);
  // background-color: burlywood;

  &>div{
    @include mixin.container-style(100%, 40%, space-around, center);
    // border: solid black 1px;

    &>a{
      @include mixin.container-style(30%, 35%, space-between, center);
      background-color: var.$col-1;
      border: solid 1px var.$col-2;
      
      &>div:first-child{
        @include mixin.container-style(70%, 100%, flex-start, center);
        padding-left: 2vw;
      }

      &>div:last-child{
        @include mixin.container-style(20%,100%, center,center);
        // border: solid 2px black;

        &>img{
          @include mixin.size(20px, 20px);
        }
      }
    }
  }
}