@charset "UTF-8";
/*----------------------------------------------------------------------------------*/

/* ========================
PC スクロールボタン
========================*/
#page-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 95%;
    z-index: 9999999;
}
#page-top a {
    background: #171c61;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}
/* ========================
PC スクロールボタン end
========================*/



/*------------------------------------html CSS------------------------------------*/
/*基本のフェードインアニメーション 透明 ⇒ 表示*/
.css-fade1{
/*アニメーション設定*/
  animation-name:fade-in1;
  animation-duration:4s; /*アニメーション時間*/
  animation-timing-function: ease-out; /*アニメーションさせるイージング*/
  animation-delay:0s; /*アニメーション開始させる時間*/
  animation-iteration-count:1; /*繰り返し回数*/
  animation-direction:normal; /*往復処理をするかどうか*/
  animation-fill-mode: forwards; /*アニメーション後のスタイルをどうするか*/
}
/*アニメーション*/
@keyframes fade-in1 {
  0% {opacity: 0}
  100% {opacity: 1}
}

/*上からフェードインアニメーション*/
.css-fade2{
/*アニメーション設定*/
  animation-name:fade-in2;
  animation-duration:3s; /*アニメーション時間*/
  animation-timing-function: ease-out; /*アニメーションさせるイージング*/
  animation-delay:0s; /*アニメーション開始させる時間*/
  animation-iteration-count:1; /*繰り返し回数*/
  animation-direction:normal; /*往復処理をするかどうか*/
  animation-fill-mode: forwards; /*アニメーション後のスタイルをどうするか*/
}
/*アニメーション*/
@keyframes fade-in2 {
  0% {opacity: 0; transform: translate3d(0,-20px,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}

/*下からフェードインアニメーション*/
.css-fade3{
/*アニメーション設定*/
  animation-name:fade-in3;
  animation-duration:2s; /*アニメーション時間*/
  animation-timing-function: ease-out; /*アニメーションさせるイージング*/
  animation-delay:0s; /*アニメーション開始させる時間*/
  animation-iteration-count:1; /*繰り返し回数*/
  animation-direction:normal; /*往復処理をするかどうか*/
  animation-fill-mode: forwards; /*アニメーション後のスタイルをどうするか*/
}
/*アニメーション*/
@keyframes fade-in3 {
  0% {opacity: 0; transform: translate3d(0,20px,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}

/*横からフェードインアニメーション*/
.css-fade4{
/*アニメーション設定*/
  animation-name:fade-in4;
  animation-duration:2s; /*アニメーション時間*/
  animation-timing-function: ease-out; /*アニメーションさせるイージング*/
  animation-delay:1s; /*アニメーション開始させる時間*/
  animation-iteration-count:1; /*繰り返し回数*/
  animation-direction:normal; /*往復処理をするかどうか*/
  animation-fill-mode: forwards; /*アニメーション後のスタイルをどうするか*/
}
/*アニメーション*/
@keyframes fade-in4 {
  0% {opacity: 0; transform: translate3d(30px,0,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}



/*アンカーリンク*/
#timesale {
    margin-top: -80px;
    padding-top: 80px;
}
#guerrilla {
    margin-top: -80px;
    padding-top: 80px;
}
#anchor01 {
    margin-top: -80px;
    padding-top: 80px;
}
#anchor02 {
    margin-top: -80px;
    padding-top: 80px;
}
#anchor03 {
    margin-top: -80px;
    padding-top: 80px;
}
#anchor04 {
    margin-top: -80px;
    padding-top: 80px;
}
#anchor05 {
    margin-top: -80px;
    padding-top: 80px;
}
#anchor06 {
    margin-top: -80px;
    padding-top: 80px;
}
#anchor07 {
    margin-top: -80px;
    padding-top: 80px;
}


#anchor-menu {
	overflow: hidden;
}
#anchor-menu ul {
	list-style: none;
}
#anchor-menu ul li {
	float: left;
	width: 32%;
	margin-right: 2%;
    margin-bottom: 1%;
}
#anchor-menu ul li.list-end {
	margin-right: 0;
}



#jyoubu-anchor-menu {
	padding: 0 8px;
	overflow: hidden;
}
#jyoubu-anchor-menu ul {
	list-style: none;
}
#jyoubu-anchor-menu ul li {
	float: left;
	width: 23%;
	margin-right: 2%;
    margin-bottom: 1%;
}
#jyoubu-anchor-menu ul li.list-end {
	margin-right: 0;
}



#design-menu {
	background-image: url(" ../images/feature/1211jyoubu/07insatsu/03photo.html");
	-moz-background-size:100% auto;
	-webkit-background-size:100% auto;
	-o-background-size:100% auto;
	-ms-background-size:100% auto;
	padding: 0 8px;
	overflow: hidden;
	
}
#design-menu td {
	padding: 0 12px 0 12px;
}


#layout2-menu {
	overflow: hidden;
}
#layout2-menu ul {
	list-style: none;
}
#layout2-menu ul li {
	float: left;
	width: 50%;
}
#layout2-menu ul li.list-end {
	margin-right: 0;
}


#contents-space2 {
	padding: 0 2%;
}
#contents-space3 {
	padding: 0 3%;
}
#contents-space4 {
	padding: 0 4%;
}
#contents-space5 {
	padding: 0 5%;
}


.c-frame {
	padding: 2% 0;
}
.c-frame-radius0 {
	padding: 5% 1%;
}
.c-frame-radius20 {
	padding: 5% 1%;
	border-radius: 20px;
}
.c-frame-radius-inner {
	padding: 5% 1%;
	border-radius: 20px;
}
.c-frame-radius-coupon {
	padding: 5% 3%;
	border-radius: 20px;
}


/*------------------featurepage title------------------*/
h2 {
	width: 100%;
    background-image: linear-gradient(45deg, #24cdd6 5%, #24aac6 20%, #4e7f71 50%, #284d71 90%, #283971 100%, #24cdd6 100%);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
}
div.threelayout {
	clear: both;
    overflow: hidden;
    margin: 0 auto;
}
/*------------------featurepage title end------------------*/

/*------------------------------------html CSS end------------------------------------*/



/*------------------------------------javascript CSS------------------------------------*/

/*タイトルアニメーション*/
.ttlrelative {
    position: relative;
}
.ttlabsolute {
	top: 0;
	left: 0;
    position: absolute;
}
/**/

/*------------------------------------javascript CSS end------------------------------------*/

