@charset "UTF-8";
/*----------------------------------------------------------------------------------*/

/*----------img-effect------------*/
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0.4;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0.4;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0.4;}
    100% {opacity:1;}
}
/*-----------------------------------------*/


/*----------jquery_accordion------------*/
ul.accordion { background:#F3F3F3; width:80%; margin:0 auto 30px; padding:10px; font-size:16px; list-style:none;}
ul.accordion a { display:block; padding:10px; background-position:97% center; background-repeat:no-repeat; text-decoration:none; color:#333; font-weight:bold;}
ul.accordion span { display:block; padding:10px; background-position:97% center; background-repeat:no-repeat; color:#333; font-weight:bold;}
ul.accordion ul { display:none; list-style:none;}
ul.accordion > li { background: -moz-linear-gradient(top, #F1F1F1, #FFFFFF); background: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#FFFFFF));}
ul.accordion > li > p { background: -moz-linear-gradient(top, #C6F0FE, #27BCF9); background: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#FFFFFF));cursor:pointer;}
ul.accordion > li > p span { background-image:url(../img/open.html);}
ul.accordion > li > p span.open { background-image:url(../img/close.html);}
ul.accordion > li > ul > li { background:#999; border-bottom:1px solid #EEE;}
ul.accordion > li > ul > li > p { background:#999;}
ul.accordion > li > ul > li > a { background:url(../img/go.html) no-repeat 98% center;}
ul.accordion > li > ul > li > ul > li { background:#FFF; border-bottom:1px dotted #888;}
ul.accordion > li > ul > li > ul > li:last-child { border:none;}
/*-----------------------------------------*/

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix { overflow:hidden; }/* for IE5.5 - IE7*/  
/* Hides from IE-mac \*/
* html .clearfix {height: 1%; overflow:visible;}
/* End hide from IE-mac */
.space2{height:2.1em;} /*高さ調整 隙間にいれる -*/



/*----------検索フォーム共通------------*/
#rstSearch {
	width:100%;
	padding: 0 0 5% 0;
	margin: 5px 0 0 0;
	border:0
	background:#fff;
	text-align: left;
}

#rstSearch form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
}

#rstSearch form > span {
	margin-right: 2%;
	width: 80%;
}

#rstSearch form > span > div {
	right: 0px !important;
}

#rstSearch input[type=text] {
	width: 100%;
	padding: 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#rstSearchSubmit {
	width: 18%;
}

#rstSearchSubmit input[type=submit] {
	padding: 0 10px;
	font-weight: bold;
	width: 100%;
	height: 30px;
	background:#3e3e3e;
	border:0;
	color:#fff;
	font-size:14px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-appearance:none;
}
/*-----------------------------------------*/





/*-----------------------------------------------SP表示-----------------------------------------------*/
@media (max-width: 1024px){
	.display-pc{ display:none;}
	.dm_bn{ display:none;}
	
	.width2425{
		margin:10px 2px 2px 2px;
		width:32%;
		float:left;
		box-sizing:border-box;
	}
	
}
/*-----------------------------------------------/SP表示-----------------------------------------------*/



/*-----------------------------------------------PC表示-----------------------------------------------*/
@media (min-width: 1025px){
	.display-sp{display:none;}
	body{
		font:12px "メイリオ", "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3" !important;
		color:#333333 !important;
		margin:0 !important;
		padding:0 !important;
		text-align:center !important;
		/*background:#ffffff !important;*/
		vertical-align:top !important;
		}
	#mainContents{
		text-align:center;
		margin:10px auto 0;
		width:100%;
		}
	
	.width2425{
		margin-top:30px;
		width:250px;
		float:left;
	}
	ul.pcslide{
		width: 750px !important;
		margin: 0 auto;
	}
	div.threelayout {
		width: 750px;
	}
	.c-frame-radius-inner {
		width: 640px;
		padding: 1% 1% !important;
	}
	
/*-------------------------両サイドバナー-------------------------*/
	#tate_left { 
		top: 0px;
		left: 0px;
		width: 90px;
		min-height: 100%;
		visibility: visible;
		display: block;
		position: fixed;
		height: 2000px;
	}

	#tate_left a {
		display: block;
		min-height: 100%;
		width: 90px;
		visibility: visible;
		height: 4500px;
		text-indent: -9999px;
	}

	.tateobi1 {    
		background: url(../../../../../image.rakuten.co.jp/edgetribe/cabinet/banner/oisogi90.jpg) repeat-y scroll;
		min-height: 100%;
		height: 4500px;
		z-index: 3000;
		visibility: visible;
	}


	#tate_right { 
		top: 0px;
		right: 0px;
		width: 90px;
		min-height: 100%;
		visibility: visible;
		display: block;
		position: fixed;
		height: 2000px;
	}

	#tate_right a {
		display: block;
		min-height: 100%;
		width: 90px;         /*画像の横幅*/
		visibility: visible;
		height: 4500px;
		text-indent:-9999px;
	}

	.tateobi2 {
		background: url(../../../../../image.rakuten.co.jp/edgetribe/cabinet/banner/yuupake_pc.jpg) repeat-y scroll;
		min-height: 100%;
		height: 4500px;
		z-index: 3000;
		visibility: visible;
	}
/*-------------------------両サイドバナー　end-------------------------*/
	
	.more{ width:auto !important;}
	#footer{ margin-bottom:0 !important;}
	p.footer-ttl{font-size:18px !importan;}
	#footer ul li{font-size:14px; width:33.3%;}
	.mainslider03 li img{ width:600px !important;}

	.slick-prev:before{
		width:18px !important;
		height:18px !important;
		border:0px !important;
		border-top:solid 5px #000 !important;
		border-right:solid 5px #000 !important;
		transform:rotate(230deg) !important;
		position:absolute !important;
		top:0 !important;
		right:3px !important;
		margin-top: 4px !important;
	}
	.slick-next{width: 0 !important; height:0 !important;}
	.slick-prev{width: 0 !important; height:0 !important;}
	.slick-prev{background:none !important;}
	.slick-next{background:none !important;}
	.slick-next:before{
		width:18px !important;
		height:18px !important;
		border:0px !important;
		border-top:solid 5px #000 !important;
		border-right:solid 5px #000 !important;
		transform:rotate(45deg) !important;
		position:absolute !important;
		top:0 !important;
		right:3px !important;
		margin-top: 4px !important;
	}
}
/*-----------------------------------------------/PC表示-----------------------------------------------*/



