@charset "utf-8";

/* =======================================

	 CSS BrowserReset BaseElements
	
	 (C)BLACKFLAG.NET ALL RIGHTS RESERVED.
	 http://black-flag.net/

 ======================================= */
 *{
	padding:0;
	margin:0;
	border:0;
}

img{
		border:0;
}
#header{
			width:1100px;
}

ul.head {
    width: 100%;
	margin: 0;
	padding: 0; 
	list-style: none;
	font-size: 0;
}

ul.head li {
    float: left;
	padding: 0; 
	margin: 0;
}

#continer{
		width:1100px;
		margin-left: auto;
		margin-right: auto;
}
a:hover img{
	filter: Alpha(opacity=70); opacity:0.7;
}
#menu{
		width:428px;
		float:right;
}
.navi{
		width:428px;
}
.navi li{
		float:left;
		list-style:none;
}

.top,.kaisya,.mailmaga,.rakuten{
		float:left;
		padding-left:15px;
}
#title_text{
		font-size:1.2em;
		color:#333;
		clear:both;
}

#category{
		float:left;	
		height:60px;
		width:1100px;
		padding-bottom:5px;
}
.clearfix{
    display: inline-block;
}
#header-in{
	width:1100px;
	margin:0px;
	float:right;
}
#serch{
	background-color:#eee;
	height:60px;
	width:1100px;
}

html {
overflow: auto;
}

body{
overflow: hidden; /*はみ出た部分をどうするか*/
}

.space_top{
			padding-top:10px;
}
.space_bottom{
			padding-bottom:10px;
}
.cel_border{
			padding-left:12px;
}
#2bunnkatu{
			width:1100px;
			float:right;
			padding-top:10px;
}
.left_box{
			float:left;
			width:460px;
			padding-right:10px;
}
.right_box{
			float:left;
			width:510px;
}
#4bunnkatu{
			width:1000px;
			float:right;
}
.left2_box{
			float:left;
			width:237px;
			padding-right:10px;
			padding-top:10px;
}
.middle_box{
			float:left;
			width:238px;
			padding-right:10px;
			padding-top:10px;
}
.right2_box{
			float:left;
			width:237px;
			padding-top:10px;
}
#slid{
			clear:both;
			width:1000px;
			text-align:left;
}
#clear{
			clear:both;
}

#osirase{
			clear:both;
			padding-bottom:10px;
			padding-top:10px;
}
#sale{
			clear:both;
			width:1000px;
			padding-bottom:10px;
}
#event{
			width:1000px;
			padding-bottom:10px;
}

#newitem {
	width:auto;
	padding: 0 0 5px;
	margin:0 0 0px;
}

#main {
	width:auto;
	padding: 0 0 5px;
	margin:0 0 0px;
}

.bana{
	width:1100px;
	padding-bottom:20px;
	padding-top:10px;
}
.bana2{
	width:1100px;
	padding-bottom:10px;
}