
/* right fixd */
* html body {background: url(null) fixed;}

* html div#rc_rightArea{
	position:absolute !important;
	top: expression((documentElement.scrollTop || document.body.scrollTop) + 100 + 'px');
	left: expression((documentElement.scrollLeft || document.body.scrollLeft) + document.body.clientWidth - 80 + 'px');/*画像の横幅数値*/
}

div#rc_rightArea{
	position: fixed;
	top: 100px;
	right: 0px;
	text-indent:-9993px;
	display:block;
}

div#rc_rightArea2{
	position: fixed;
	top: 300px;
	right: 0px;
	text-indent:-9993px;
	display:block;
}

div#rc_rightArea3{
	position: fixed;
	top: 500px;
	right: 0px;
	text-indent:-9993px;
	display:block;
}

div#rc_rightArea .rc_right ,
div#rc_rightArea2 .rc_right2 ,
div#rc_rightArea3 .rc_right3 {
	outline:none;
	display: block;
	position: relative;
	width:80px;
	height:151px;
	left:0px;
	z-index:9998px;
}

div#rc_rightArea .rc_right{
	background: url("http://www.rakuten.ne.jp/gold/smartforyou/site/sidenabi/new1602.jpg") no-repeat scroll 0 0 transparent;  
}

div#rc_rightArea2 .rc_right2{
	background: url("http://www.rakuten.ne.jp/gold/smartforyou/site/sidenabi/vintage1602.jpg") no-repeat scroll 0 0 transparent;  
}



div#rc_rightArea .rc_right:hover ,
div#rc_rightArea2 .rc_right2:hover ,
div#rc_rightArea3 .rc_right3:hover {
	background-position:0px 0px; width:80px;
}