
/* right fixd */
* html body {background: url(null) fixed;}

* html div#rc_rightArea{
	position:absolute !important;
	top: expression((documentElement.scrollTop || document.body.scrollTop) + 100 + 

'px');
	left: expression((documentElement.scrollLeft || document.body.scrollLeft) + 

document.body.clientWidth - 70 + 'px');/*画像の横幅数値*/
}

div#rc_rightArea{
	position: fixed;
	top: 100px;
	right: 0px;
	text-indent:-9993px;
	display:block;
}

div#rc_rightArea2{
	position: fixed;
	top: 360px;
	right: 0px;
	text-indent:-9993px;
	display:block;
}

div#rc_rightArea3{
	position: fixed;
	top: 570px;
	right: 0px;
	text-indent:-9993px;
	display:block;
}

div#rc_rightArea .rc_right,
div#rc_rightArea2 .rc_right2 ,
div#rc_rightArea3 .rc_right3 {
	outline:none;
	display: block;
	position: relative;
	width:80px;
	height:600px;
	left:0px;
	z-index:9998px;
}

div#rc_rightArea .rc_right{
	background: url("") no-repeat scroll 0 0 transparent;  
}

div#rc_rightArea2 .rc_right2{
	background: url

("http://image.rakuten.co.jp/smartforyou/cabinet/right_top_tate3.jpg") no-repeat scroll 0 0 

transparent;  
}

div#rc_rightArea3 .rc_right3{
	background: url

("http://image.rakuten.co.jp/smartforyou/cabinet/right_top_tate3.jpg") no-

repeat scroll 0 0 transparent;
}

div#rc_rightArea .rc_right1:hover ,
div#rc_rightArea2 .rc_right2:hover ,
div#rc_rightArea3 .rc_right3:hover {
	background-position:0px 0px; width:70px;
}




