@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
   font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "Noto Sans CJK JP Medium“, "Noto Sans CJK JP Regular“, sans-serif;
}

a:hover {
   color: #e83a37 !important;
}

.img-hover img {
   opacity: 1;
   transition: .2s;
   -webkit-transition: .2s;
   -moz-transition: .2s;
   -ms-transition: .2s;
   -o-transition: .2s;
}

.img-hover:hover img {
   opacity: .5;
}

.is-frame-lg {
   max-width: none;
   width: 1010px;
}

.columns-xs13 .is-col {
   width: 7.692307692307692%;
}

.header .is-head-top {
   margin-bottom: 10px;
}

.header .is-head-top a {
   font-size: 12px;
   color: #999999;
}

.header .is-head-top .is-txt-right a {
   display: inline-block;
   line-height: 12px;
}

.header .is-head-top .is-txt-right a:after {
   content: "";
   display: inline-block;
   width: 1px;
   height: 12px;
   margin: 0 5px 0 10px;
   background-color: #999999;
   vertical-align: bottom;
}

.header .is-head-mid .is-top-iconset a {
   display: inline-block;
   width: 38px;
   height: 25px;
   background-image: url(../images/icon/social.png);
   background-repeat: no-repeat;
   margin-right: -7.5px;
}

.header .is-head-mid .is-top-iconset a.is-insta {
   background-position: -10px -7px;
}

.header .is-head-mid .is-top-iconset a.is-line {
   background-position: -47px -7px;
}

.header .is-head-mid .is-top-iconset a.is-mail {
   background-position: -84px -7px;
}

.header .is-head-mid .is-top-iconset a.is-cart {
   background-position: -121px -7px;
}

.header .is-head-mid .is-top-iconset a.is-qna {
   background-position: -158px -7px;
}

.header .is-head-mid .is-top-iconset a.is-r {
   background-position: -195px -7px;
}

.header .is-head-mid .is-top-iconset a.is-insta:hover {
   background-position: -10px -39px;
}

.header .is-head-mid .is-top-iconset a.is-line:hover {
   background-position: -47px -39px;
}

.header .is-head-mid .is-top-iconset a.is-mail:hover {
   background-position: -84px -39px;
}

.header .is-head-mid .is-top-iconset a.is-cart:hover {
   background-position: -121px -39px;
}

.header .is-head-mid .is-top-iconset a.is-qna:hover {
   background-position: -158px -39px;
}

.header .is-head-mid .is-top-iconset a.is-r:hover {
   background-position: -195px -39px;
}

.header .is-head-bot .is-gnb-list {
   padding: 10.21px 0;
   background-color: #000000;
}

.header .is-head-bot .is-gnb-list li {
   text-align: center;
   margin-right: -5.5px;
}

.header .is-head-bot .is-gnb-list li .is-on {
   display: none;
}

.header .is-head-bot .is-gnb-list li .is-off {
   display: inline-block;
}

.header .is-head-bot .is-gnb-list li:hover .is-on {
   display: inline-block;
}

.header .is-head-bot .is-gnb-list li:hover .is-off {
   display: none;
}

.header .is-head-bot .is-gnb-list .is-dropdown-wrapper {
   left: 0;
   padding: 10px 55px 30px;
   background-color: #fff;
   border: 2px solid #000;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
}

.header .is-head-bot .is-gnb-list .is-dropdown-wrapper li {
   text-align: left;
}

.header .is-head-bot .is-gnb-list .is-dropdown-wrapper li.is-col {
   text-align: center;
}

.header .is-head-bot .is-gnb-list .is-dropdown-wrapper li>a {
   position: relative;
   display: block;
   font-size: 13px;
   color: #333333;
   line-height: 1.8;
}

.header .is-head-bot .is-gnb-list .is-dropdown-wrapper li.is-active>a,
.header .is-head-bot .is-gnb-list .is-dropdown-wrapper li>a:hover {
   color: #e83a37;
}

.header .is-head-bot .is-gnb-list .is-dropdown-wrapper li>.right-img {
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   max-width: 33.33333333%;
}

.header .is-head-bot .is-gnb-list .is-dropdown-wrapper li.is-active>.right-img {
   display: block;
}


.header .is-head-bot .is-gnb-list .is-dropdown-wrapper .is-left-menu li>a::after {
   content: "\f112";
   font-family: "LineAwesome";
   position: absolute;
   right: 0;
}


.header .is-head-bot .is-search-line {
   padding: 10px 15px;
   border-left: 1px solid #999999;
   border-right: 1px solid #999999;
}

.header .is-head-bot .is-search-line span {
   font-size: 13px;
}

.header .is-head-bot .is-search-line a,
.is-side-area .is-search-box a {
   font-size: 11px;
   color: #0066cc;
   text-decoration: underline;
}

.header .is-head-bot .is-search-line a::after {
   content: "/";
   display: inline-block;
   margin: 0 5px;
}

.header .is-head-bot .is-search-line a:last-child:after {
   content: "";
}

.header .is-head-bot .is-search-line input[type=text] {
   width: 70%;
   height: 24px;
   padding: 5px 7px;
   border: 1px solid #999;
}

.header .is-head-bot .is-search-line input[type=submit] {
   background-color: #ccc;
   border: 1px solid #999;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.main-visual {
   margin-bottom: 10px;
}

.main-visual-nav {
   margin-bottom: 20px;
}

.is-top-product .is-info {
   position: relative;
   margin-top: 5px;
   padding-left: 40px;
}

.is-top-product span {
   display: inline-block;
   position: absolute;
   top: 0;
   left: 0;
   padding: 2px 4px;
   font-size: 11px;
   color: #fff;
   background-color: #e83a37;
}

.is-top-product h4 {
   font-size: 12px;
   line-height: 1.15;
   color: #666666;
   transition: .2s;
   -webkit-transition: .2s;
   -moz-transition: .2s;
   -ms-transition: .2s;
   -o-transition: .2s;
}

.is-top-product .is-col:hover h4 {
   color: #e83a37;
}

.is-top-product p {
   font-size: 14px;
   font-weight: 700;
   color: #e83a37;
}

.is-top-product .is-col img {
   opacity: 1;
   transition: .2s;
   -webkit-transition: .2s;
   -moz-transition: .2s;
   -ms-transition: .2s;
   -o-transition: .2s;
}

.is-top-product .is-col:hover img {
   opacity: .5;
}

.is-title-wrap {
   position: relative;
}

.is-title-wrap h3 {
   width: 300px;
   margin: 0 auto;
   background-color: #fff;
}

.is-title-wrap h3::before {
   content: "";
   display: inline-block;
   position: absolute;
   left: 0;
   top: 50%;
   width: 100%;
   height: 1px;
   margin-top: 0;
   background-color: #000;
   z-index: -1;
}

.is-side-area h3 {
   padding-bottom: 10px;
   border-bottom: 2px solid #343434;
   font-size: 18px;
   color: #333333;
}

.is-item-category {
   margin: 20px 0;
   border-bottom: 1px solid #000;
}

.is-item-category .is-col {
   text-align: center;
}

.is-notice--widget-box {
   border: 1px solid #999
}

.is-notice--widget-box .is-box-inner {
   height: 113px;
   min-height: 0px;
   padding: 10px 12px 5px;
   overflow-y: scroll
}

.is-notice--widget-box .is-box-inner .is-date,
.is-notice--widget-box .is-box-inner .is-title {
   font-size: 12px;
}

.is-notice--widget-box .is-box-inner .is-date {
   font-weight: 700;
   color: #000;
}

.is-notice--widget-box .is-box-inner .is-title {
   color: #333;
}

.is-widget-banner.is-widget-notice {
   margin-bottom: 30px;
}

.is-category-drop {
   margin-bottom: 20px;
}

.is-category-drop>ul>li {
   padding: 10px 0;
   border-bottom: 1px solid #333;
}

.is-category-drop.is-type2 li {
   padding: 0;
}

.is-category-drop [data-uc-collapse]>li>a {
   display: block;
   position: relative;
   font-weight: 700;
   color: #e83a37;
}

.is-category-drop [data-uc-collapse]>li>a.is-collapsed-body {
   color: #666;
}

.is-category-drop [data-uc-collapse]>li>a.is-collapsed-body .is-off,
.is-category-drop [data-uc-collapse]>li>a .is-off {
   display: inline-block;
}

.is-category-drop [data-uc-collapse]>li>a.is-collapsed-body .is-on,
.is-category-drop [data-uc-collapse]>li>a .is-on {
   display: none;
}

.is-category-drop [data-uc-collapse]>li>a:not(.is-collapsed-body) .is-off,
.is-category-drop [data-uc-collapse]>li>a:hover .is-off {
   display: none;
}

.is-category-drop [data-uc-collapse]>li>a:not(.is-collapsed-body) .is-on,
.is-category-drop [data-uc-collapse]>li>a:hover .is-on {
   display: inline-block;
}

.is-category-drop [data-uc-collapse]>li>a:after {
   content: "\f110";
   display: inline-block;
   position: absolute;
   top: 0;
   right: 0;
   font-family: "LineAwesome";
   font-size: 20px;
   font-weight: 700;
   color: #e83837;
}

.is-category-drop.is-type2 [data-uc-collapse]>li>a:after {
   top: 5px;
}

.is-category-drop [data-uc-collapse] li a.is-collapsed-body:after {
   content: "\f2c2";
   color: #666;
}

.is-category-drop [data-uc-collapse] li a.is-collapsed-none {
   color: #666;
}

.is-category-drop [data-uc-collapse] li a.is-collapsed-none:after {
   content: "\f112";
   color: #666;
}

.is-category-drop ul.is-collapse-menu {
   border-top: 1px solid #333;
   margin-top: 10px;
}

.is-category-drop.is-type2 ul.is-collapse-menu {
   margin-top: 0;
}

.is-category-drop ul.is-collapse-menu>li {
   position: relative;
   padding-left: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-bottom: 2px dotted #333;
}

.is-category-drop ul.is-collapse-menu>li:hover {
   background-color: #EBEBEB;
}

.is-category-drop ul.is-collapse-menu>li:last-child {
   border-bottom: 0;
}

.is-category-drop ul.is-collapse-menu>li .is-new {
   position: absolute;
   top: 7px;
   left: 0;
   font-size: 11px;
   color: #e83a37;
}

.is-category-drop ul.is-collapse-menu>li span {
   font-size: 12px;
   font-weight: 700;
   letter-spacing: -1.5px;
}

.is-category-drop ul.is-collapse-menu>li span.is-red {
   color: #c40d3c;
}

.is-category-drop ul.is-collapse-menu>li span.is-orange {
   color: #ea5514;
}

.is-category-drop ul.is-collapse-menu>li span.is-gray {
   color: #595757;
}

.is-category-drop .is-prd-name p {
   font-size: 12px;
   font-weight: 600;
   letter-spacing: -1.5px;
   color: #323333;
}

.is-contact-banner {
   margin-bottom: 30px;
}

.main-contents {
   margin-bottom: 100px;
}

.main-contents>.is-col-xs3 {
   width: 22.771%;
   padding-right: 30px;
}

.main-contents>.is-col-xs9 {
   width: 77.229%;
}

.is-search-box .is-inner {
   padding: 10px 5px;
}

.is-search-box input[type=text] {
   width: 84%;
   height: 26px;
   padding: 5px 10px;
}

.is-search-box button {
   display: inline-block;
   vertical-align: top;
   width: 13%;
   padding: 0;
   background-color: transparent;
   border: 0;
}

.is-img-banner {
   margin-bottom: 10px;
}

.is-img-banner a {
   display: block;
   padding-bottom: 10px;
}

.is-contact-banner li {
   padding: 15px 5px;
   border-bottom: 2px dotted #333;
}

.product-widget h3 {
   margin-bottom: 15px;
   font-size: 20px;
   color: #e83a37;
}

.product-widget h3>span {
   display: inline-block;
   margin-left: 5px;
   font-size: 14px;
   color: #666666;
}

.product-widget .is-info h4 {
   font-size: 13px;
   color: #666;
}

.product-widget .is-info p {
   font-size: 15px;
   color: #e83a37;
   text-align: right;
}

.product-widget .is-new-arrivals,
.product-widget .is-item-ranking,
.product-widget .is-prd-banner,
.product-widget .is-recommended-item,
.product-widget .is-feature-list,
.product-widget .is-prd-list {
   margin-bottom: 30px;
}

.product-widget .is-item-ranking .is-ranking {
   position: absolute;
   left: 10px;
   top: 0;
}

.product-widget .is-feature-list .is-info h4 {
   margin-top: 10px;
   font-size: 14px;
   transition: .2s;
   -webkit-transition: .2s;
   -moz-transition: .2s;
   -ms-transition: .2s;
   -o-transition: .2s;
   text-indent: -6px;
}

.product-widget .is-feature-list .is-info p {
   font-size: 13px;
   text-align: left;
   color: #666;
}

.product-widget .is-col img {
   opacity: 1;
   transition: .2s;
   -webkit-transition: .2s;
   -moz-transition: .2s;
   -ms-transition: .2s;
   -o-transition: .2s;
}

.product-widget .is-col:hover img:not(.rank-label) {
   opacity: .5;
}

.product-widget .is-col:hover h4 {
   color: #e83a37;
}

.footer h3 {
   margin-bottom: 15px;
   padding: 5px 0;
   font-size: 16px;
   color: #fff;
   background-color: #333333;
   text-align: center;
}

.footer .foot-top {
   margin-bottom: 50px;
}

.footer .foot-mid {
   margin-bottom: 30px;
}

.footer .foot-mid .is-col {
   padding: 0 20px;
   border-left: 1px solid #333;
}

.footer .foot-mid h4 {
   font-size: 14px;
   color: #333;
}

.footer .foot-mid h4>img {
   vertical-align: text-top;
}

.footer .foot-mid p,
.footer .foot-mid a {
   font-size: 12px;
   color: #666666;
   letter-spacing: -1.5px;
}

.footer .foot-mid p.is-bk {
   color: #333;
   letter-spacing: -0.5px;
}

.footer .foot-mid p.is-rd {
   color: #e83a37;
}

.footer .foot-mid p.is-bx-txt {
   font-size: 14px;
   padding: 2px 0;
   background-color: #e83a37;
   color: #fff;
   text-align: center;
}

.footer .foot-mid a {
   color: #0099ff;
}

.footer .foot-mid .is-left-line {
   border-left: 1px solid #333;
   padding-left: 5px;
}

.footer .foot-bot {
   padding: 5px 0;
   margin-bottom: 30px;
   background-color: #f5f5f5;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   text-align: center;
}

.footer .foot-bot a {
   display: inline-block;
   font-size: 12px;
   color: #999999;
}

.footer .foot-bot a::after {
   content: "";
   display: inline-block;
   width: 1px;
   height: 12px;
   margin: 0 5px 0 10px;
   background-color: #999999;
   vertical-align: -2px;
}

.is-copyright {
   margin-bottom: 50px;
   font-size: 11px;
   color: #999999;
   text-align: center;
}

.slick-slide .is-info {
   padding-right: 20px;
}

.slick-arrow {
   position: absolute;
   width: 80px;
   height: 100%;
   padding: 0;
   margin: 0;
   top: 0;
   background-color: #000;
   border: 0;
   opacity: .5;
   z-index: 1;
   cursor: pointer;
   font-family: "LineAwesome";

}

.slick-prev::before {
   content: "\f111";
   font-size: 44px;
   color: #fff;
   margin-left: 0;
}

.slick-next::before {
   content: "\f112";
   font-size: 44px;
   color: #fff;
   margin-left: 0;
}

.slick-prev {
   left: 0;
}

.slick-next {
   right: 0;
}

.main-visual:hover::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 3px;
   background-color: #e83b37;
   z-index: 99999;
}

.main-visual-nav .slick-slide {
   opacity: .5;
}

.main-visual-nav .slick-current {
   position: relative;
   opacity: 1;
}

.main-visual-nav .slick-current::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 3px;
   background-color: #e83b37;
}

.is-calendar dt {
   font-size: 15px;
   color: #333;
}

.is-calendar dd {
   font-size: 10px;
   line-height: 1.8;
   color: #666;
}