@charset "UTF-8";
/*リセットstyleを定義*/
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 11, ../sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 32, ../sass/base/_reset.scss */
aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both;
}

/* line 37, ../sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 40, ../sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*ポジション*/
/* line 57, ../sass/base/_reset.scss */
.clear {
  clear: both;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
  width: 0px;
}

/*ブレイクポイントとなるstyleを定義*/
/*フォントstyleを定義*/
/* line 5, ../sass/base/_fonts.scss */
body {
  font-family: 'Lato','ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


/* line 39, ../sass/base/_fonts.scss */
.gd_white {
  background: #fff;
}

/*テキスト*/
/* line 44, ../sass/base/_fonts.scss */
.ca_color {
  background: #e9e9e9;
  height: 1px;
  overflow: hidden;
}

/* line 54, ../sass/base/_fonts.scss */
#member_s .ca_color {
  background: none;
}

/*price*/
/* line 59, ../sass/base/_fonts.scss */
.price {
  font-weight: 700;
  color: #333;
}

/* line 63, ../sass/base/_fonts.scss */
.price_f {
  font-size: 10px;
  text-decoration: line-through;
  color: #666;
}

/*カラーstyleを定義*/
/*primary-color*/
/* line 10, ../sass/base/_colors.scss */
.red {
  color: #ce3838;
}

/* line 14, ../sass/base/_colors.scss */
.blue {
  color: #005c84;
}

/*blue*/
/*purple*/
/*sky blue*/
/*dark green*/
/*green*/
/*yellow*/
/*orange*/
/*border*/
/*background color*/
/*アイコンを定義*/
/*SNS フッター*/
/* line 8, ../sass/base/_icons.scss */

/*主に設定を行うファイル。 compassのimport、プリフィックスの指定、変数の定義 etc..*/
/*ベースとなるstyleを定義。 html要素、body要素、section要素 etc..*/
/*共通要素*/
/* line 7, ../sass/base/_base.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 9, ../sass/base/_base.scss */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, small, weight, dl, dt, dd, figure {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  outline: 0;
  vertical-align: baseline;
}

/* line 18, ../sass/base/_base.scss */
body {
  color: #666;
  -webkit-text-size-adjust: 100%;
  position: relative;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  min-width: 320px;
}

/* line 28, ../sass/base/_base.scss */
a {
  border: 0;
  outline: none;
  color: #333;
  text-decoration: none;
}
/* line 33, ../sass/base/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 38, ../sass/base/_base.scss */
ul, ol, li {
  list-style: none;
}

/* line 40, ../sass/base/_base.scss */
img {
  border-style: none;
  line-height: 1.0;
  width: 100%;
  display: block;
}

/* line 47, ../sass/base/_base.scss */
header, section, article, aside, figure {
  display: block;
}

/* line 49, ../sass/base/_base.scss */
table {
  display: table;
  border-spacing: 2px;
  border-color: grey;
}

/* line 55, ../sass/base/_base.scss */
td, th {
  display: table-cell;
  vertical-align: middle;
}



/*サイドメニュー（トップ）*/
/* line 242, ../sass/layout/_navigation.scss */
.side-menu {
  width: 270px;
  float: left;
  margin: 6px 0 20px;
}

/* line 251, ../sass/layout/_navigation.scss */
.side-menu h3 {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}


/* line 388, ../sass/layout/_navigation.scss */
.side-menu nav {
  margin-top: 30px;
}
/* line 393, ../sass/layout/_navigation.scss */
.side-menu nav section {
  margin-bottom: 30px;
}
/* line 395, ../sass/layout/_navigation.scss */
.side-menu nav section .side-menu-list {
  display: block;
  line-height: 42px;
  border-bottom: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}
/* line 401, ../sass/layout/_navigation.scss */
.side-menu nav section .side-menu-list a {
  display: block;
  padding-left: 10px;
}
/* line 404, ../sass/layout/_navigation.scss */
.side-menu nav section .side-menu-list a:hover {
  background: #f5f5f5;
  text-decoration: none;
}
/* line 413, ../sass/layout/_navigation.scss */
.side-menu .info {
  display: block;
}

/*サイドメニュー*/

/*アコーディオン*/
/* line 547, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordionlist:hover,
#side_review .accordionbox .accordionlist:hover {
  background: #f5f5f5;
}

/* line 553, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordionlist dt,
#side_review .accordionbox .accordionlist dt {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}
/* line 561, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordionlist dd,
#side_review .accordionbox .accordionlist dd {
  display: none;
  position: relative;
}
/* line 564, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordionlist dd > ul > li,
#side_review .accordionbox .accordionlist dd > ul > li {
  line-height: 42px;
  border-bottom: 1px solid #ddd;
  background: #eee;
  position: relative;
  padding: 0;
}
/* line 570, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordionlist dd > ul > li a,
#side_review .accordionbox .accordionlist dd > ul > li a {
  display: block;
  padding-left: 20px;
}
/* line 573, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordionlist dd > ul > li a:hover,
#side_review .accordionbox .accordionlist dd > ul > li a:hover {
  text-decoration: none;
  background: #ccc;
}
/* line 578, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordionlist dd > ul > li > ul,
#side_review .accordionbox .accordionlist dd > ul > li > ul {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 188px;
  overflow: hidden;
  height: 0;
  min-width: 390px;
  padding: 0;
  cursor: auto;
}
/* line 589, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordionlist dd > ul > li > ul > li,
#side_review .accordionbox .accordionlist dd > ul > li > ul > li {
  line-height: 40px;
}
/* line 591, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordionlist dd > ul > li > ul > li > a,
#side_review .accordionbox .accordionlist dd > ul > li > ul > li > a {
  padding: 0 20px;
}
/* line 598, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordion_icon,
.sidebar .accordionbox .accordion_icon span,
#side_review .accordionbox .accordion_icon,
#side_review .accordionbox .accordion_icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
/* line 604, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordion_icon,
#side_review .accordionbox .accordion_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 6px;
}
/* line 610, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordion_icon span,
#side_review .accordionbox .accordion_icon span {
  position: absolute;
  left: 6px;
  width: 50%;
  height: 1px;
  background-color: #555;
}
/* line 616, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordion_icon span:nth-of-type(1),
#side_review .accordionbox .accordion_icon span:nth-of-type(1) {
  top: 5px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
/* line 624, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordion_icon span:nth-of-type(2),
#side_review .accordionbox .accordion_icon span:nth-of-type(2) {
  top: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/* line 634, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordion_icon.active span:nth-of-type(1),
#side_review .accordionbox .accordion_icon.active span:nth-of-type(1) {
  top: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/* line 642, ../sass/layout/_navigation.scss */
.sidebar .accordionbox .accordion_icon.active span:nth-of-type(2),
#side_review .accordionbox .accordion_icon.active span:nth-of-type(2) {
  top: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
/* line 656, ../sass/layout/_navigation.scss */
.sidebar .accordionbox:not(.list-narrow) .accordionlist dd > ul > li a :hover,
#side_review .accordionbox:not(.list-narrow) .accordionlist dd > ul > li a :hover {
  text-decoration: none;
  background: #ccc;
}
/* line 660, ../sass/layout/_navigation.scss */
.sidebar .accordionbox:not(.list-narrow) .accordionlist dd > ul > li:hover > ul,
#side_review .accordionbox:not(.list-narrow) .accordionlist dd > ul > li:hover > ul {
  height: auto;
  background: #f5f5f5;
  opacity: 1;
  z-index: 100;
}
/* line 669, ../sass/layout/_navigation.scss */
.sidebar .accordion_icon,
.sidebar .accordion_icon span,
#side_review .accordion_icon,
#side_review .accordion_icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
/* line 675, ../sass/layout/_navigation.scss */
.sidebar .accordion_icon,
#side_review .accordion_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 6px;
}
/* line 681, ../sass/layout/_navigation.scss */
.sidebar .accordion_icon span,
#side_review .accordion_icon span {
  position: absolute;
  left: 6px;
  width: 50%;
  height: 1px;
  background-color: #555;
}
/* line 687, ../sass/layout/_navigation.scss */
.sidebar .accordion_icon span:nth-of-type(1),
#side_review .accordion_icon span:nth-of-type(1) {
  top: 5px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
/* line 695, ../sass/layout/_navigation.scss */
.sidebar .accordion_icon span:nth-of-type(2),
#side_review .accordion_icon span:nth-of-type(2) {
  top: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/* line 705, ../sass/layout/_navigation.scss */
.sidebar .accordion_icon.active span:nth-of-type(1),
#side_review .accordion_icon.active span:nth-of-type(1) {
  top: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/* line 713, ../sass/layout/_navigation.scss */
.sidebar .accordion_icon.active span:nth-of-type(2),
#side_review .accordion_icon.active span:nth-of-type(2) {
  top: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

/* line 724, ../sass/layout/_navigation.scss */
.no-accordion {
  display: block;
  border-bottom: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}
/* line 729, ../sass/layout/_navigation.scss */
.no-accordion :hover {
  background: #f5f5f5;
}
/* line 732, ../sass/layout/_navigation.scss */
.no-accordion a {
  display: block;
  padding: 10px;
}
/* line 735, ../sass/layout/_navigation.scss */
.no-accordion a:hover {
  text-decoration: none;
}

