
/*アニメーション*/

.bnr_animation { position:relative; height:182px; width:600px; overflow:hidden; }
.bnr_a1 { }
.bnr_a1 img.bnr_animation_bg { width:100%; }
.bnr_a1 img.bnr_a1_l_01 {
	position:absolute;
	left:8%;
	top:10%;
	opacity:0.7;
	z-index:1;
	animation:bnr_a1_l_name_1 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_1 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_1 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_1 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_1 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_l_02 {
	position:absolute;
	left:12%;
	top:11%;
	opacity:0.7;
	z-index:2;
	animation:bnr_a1_l_name_2 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_2 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_2 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_2 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_2 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_l_03 {
	position:absolute;
	left:13%;
	top:22%;
	opacity:0.7;
	z-index:3;
	animation:bnr_a1_l_name_3 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_3 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_3 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_3 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_3 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_l_04 {
	position:absolute;
	left:15%;
	top:25%;
	opacity:0.7;
	z-index:4;
	animation:bnr_a1_l_name_4 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_4 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_4 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_4 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_4 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_l_05 {
	position:absolute;
	left:49%;
	top:25%;
	opacity:0.7;
	z-index:5;
	animation:bnr_a1_l_name_5 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_5 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_5 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_5 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_5 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_l_06 {
	position:absolute;
	left:60%;
	top:1%;
	opacity:0.7;
	z-index:6;
	animation:bnr_a1_l_name_6 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_6 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_6 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_6 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_6 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_l_07 {
	position:absolute;
	left:81%;
	top:22%;
	opacity:0.5;
	z-index:7;
	animation:bnr_a1_l_name_7 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_7 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_7 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_7 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_7 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_l_08 {
	position:absolute;
	left:86%;
	top:15%;
	opacity:0.5;
	z-index:8;
	animation:bnr_a1_l_name_8 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_8 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_8 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_8 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_8 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_l_09 {
	position:absolute;
	left:92%;
	top:4%;
	opacity:1.0;
	z-index:9;
	animation:bnr_a1_l_name_9 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_9 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_9 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_9 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_9 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_l_10 {
	position:absolute;
	left:96%;
	top:25%;
	opacity:1.0;
	z-index:10;
	animation:bnr_a1_l_name_10 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_l_name_10 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_l_name_10 3s ease 0s 1 normal;
	-o-animation:bnr_a1_l_name_10 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_l_name_10 3s ease 0s 1 normal;
}
@keyframes bnr_a1_l_name_1 {
	0% { opacity:0.0; }
	40% { left:17%; top:37%; opacity:0.0; }
	70% { left:8%; top:10%; opacity:0.7; }
}
@-moz-keyframes bnr_a1_l_name_1 {
	0% { opacity:0.0; }
	40% { left:17%; top:37%; opacity:0.0; }
	70% { left:8%; top:10%; opacity:0.7; }
}
@-webkit-keyframes bnr_a1_l_name_1 {
	0% { opacity:0.0; }
	40% { left:17%; top:37%; opacity:0.0; }
	70% { left:8%; top:10%; opacity:0.7; }
}
@-o-keyframes bnr_a1_l_name_1 {
	0% { opacity:0.0; }
	40% { left:17%; top:37%; opacity:0.0; }
	70% { left:8%; top:10%; opacity:0.7; }
}
@-ms-keyframes bnr_a1_l_name_1 {
	0% { opacity:0.0; }
	40% { left:17%; top:37%; opacity:0.0; }
	70% { left:8%; top:10%; opacity:0.7; }
}

@keyframes bnr_a1_l_name_2 {
	0% { opacity:0.0; }
	46% { left:15%; top:20%; opacity:0.0; }
	76% { left:12%; top:11%; opacity:0.7; }
}
@-moz-keyframes bnr_a1_l_name_2 {
	0% { opacity:0.0; }
	46% { left:15%; top:20%; opacity:0.0; }
	76% { left:12%; top:11%; opacity:0.7; }
}
@-webkit-keyframes bnr_a1_l_name_2 {
	0% { opacity:0.0; }
	46% { left:15%; top:20%; opacity:0.0; }
	76% { left:12%; top:11%; opacity:0.7; }
}
@-o-keyframes bnr_a1_l_name_2 {
	0% { opacity:0.0; }
	46% { left:15%; top:20%; opacity:0.0; }
	76% { left:12%; top:11%; opacity:0.7; }
}
@-ms-keyframes bnr_a1_l_name_2 {
	0% { opacity:0.0; }
	46% { left:15%; top:20%; opacity:0.0; }
	76% { left:12%; top:11%; opacity:0.7; }
}

@keyframes bnr_a1_l_name_3 {
	0% { opacity:0.0; }
	48% { left:15%; top:28%; opacity:0.0; }
	78% { left:13%; top:22%; opacity:0.7; }
}
@-moz-keyframes bnr_a1_l_name_3 {
	0% { opacity:0.0; }
	48% { left:15%; top:28%; opacity:0.0; }
	78% { left:13%; top:22%; opacity:0.7; }
}
@-webkit-keyframes bnr_a1_l_name_3 {
	0% { opacity:0.0; }
	48% { left:15%; top:28%; opacity:0.0; }
	78% { left:13%; top:22%; opacity:0.7; }
}
@-o-keyframes bnr_a1_l_name_3 {
	0% { opacity:0.0; }
	48% { left:15%; top:28%; opacity:0.0; }
	78% { left:13%; top:22%; opacity:0.7; }
}
@-ms-keyframes bnr_a1_l_name_3 {
	0% { opacity:0.0; }
	48% { left:15%; top:28%; opacity:0.0; }
	78% { left:13%; top:22%; opacity:0.7; }
}

@keyframes bnr_a1_l_name_4 {
	0% { opacity:0.0; }
	49% { left:16%; top:28%; opacity:0.0; }
	79% { left:15%; top:25%; opacity:0.7; }
}
@-moz-keyframes bnr_a1_l_name_4 {
	0% { opacity:0.0; }
	49% { left:16%; top:28%; opacity:0.0; }
	79% { left:15%; top:25%; opacity:0.7; }
}
@-webkit-keyframes bnr_a1_l_name_4 {
	0% { opacity:0.0; }
	49% { left:16%; top:28%; opacity:0.0; }
	79% { left:15%; top:25%; opacity:0.7; }
}
@-o-keyframes bnr_a1_l_name_4 {
	0% { opacity:0.0; }
	49% { left:16%; top:28%; opacity:0.0; }
	79% { left:15%; top:25%; opacity:0.7; }
}
@-ms-keyframes bnr_a1_l_name_4 {
	0% { opacity:0.0; }
	49% { left:16%; top:28%; opacity:0.0; }
	79% { left:15%; top:25%; opacity:0.7; }
}

@keyframes bnr_a1_l_name_5 {
	0% { opacity:0.0; }
	45% { left:50%; top:28%; opacity:0.0; }
	75% { left:49%; top:25%; opacity:0.7; }
}
@-moz-keyframes bnr_a1_l_name_5 {
	0% { opacity:0.0; }
	45% { left:50%; top:28%; opacity:0.0; }
	75% { left:49%; top:25%; opacity:0.7; }
}
@-webkit-keyframes bnr_a1_l_name_5 {
	0% { opacity:0.0; }
	45% { left:50%; top:28%; opacity:0.0; }
	75% { left:49%; top:25%; opacity:0.7; }
}
@-o-keyframes bnr_a1_l_name_5 {
	0% { opacity:0.0; }
	45% { left:50%; top:28%; opacity:0.0; }
	75% { left:49%; top:25%; opacity:0.7; }
}
@-ms-keyframes bnr_a1_l_name_5 {
	0% { opacity:0.0; }
	45% { left:50%; top:28%; opacity:0.0; }
	75% { left:49%; top:25%; opacity:0.7; }
}

@keyframes bnr_a1_l_name_6 {
	0% { opacity:0.0; }
	42% { left:50%; top:80%; opacity:0.0; }
	72% { left:60%; top:1%; opacity:0.7; }
}
@-moz-keyframes bnr_a1_l_name_6 {
	0% { opacity:0.0; }
	42% { left:50%; top:80%; opacity:0.0; }
	72% { left:60%; top:1%; opacity:0.7; }
}
@-webkit-keyframes bnr_a1_l_name_6 {
	0% { opacity:0.0; }
	42% { left:50%; top:80%; opacity:0.0; }
	72% { left:60%; top:1%; opacity:0.7; }
}
@-o-keyframes bnr_a1_l_name_6 {
	0% { opacity:0.0; }
	42% { left:50%; top:80%; opacity:0.0; }
	72% { left:60%; top:1%; opacity:0.7; }
}
@-ms-keyframes bnr_a1_l_name_6 {
	0% { opacity:0.0; }
	42% { left:50%; top:80%; opacity:0.0; }
	72% { left:60%; top:1%; opacity:0.7; }
}

@keyframes bnr_a1_l_name_7 {
	0% { opacity:0.0; }
	47% { left:79%; top:28%; opacity:0.0; }
	77% { left:81%; top:22%; opacity:0.5; }
}
@-moz-keyframes bnr_a1_l_name_7 {
	0% { opacity:0.0; }
	47% { left:79%; top:28%; opacity:0.0; }
	77% { left:81%; top:22%; opacity:0.5; }
}
@-webkit-keyframes bnr_a1_l_name_7 {
	0% { opacity:0.0; }
	47% { left:79%; top:28%; opacity:0.0; }
	77% { left:81%; top:22%; opacity:0.5; }
}
@-o-keyframes bnr_a1_l_name_7 {
	0% { opacity:0.0; }
	47% { left:79%; top:28%; opacity:0.0; }
	77% { left:81%; top:22%; opacity:0.5; }
}
@-ms-keyframes bnr_a1_l_name_7 {
	0% { opacity:0.0; }
	47% { left:79%; top:28%; opacity:0.0; }
	77% { left:81%; top:22%; opacity:0.5; }
}

@keyframes bnr_a1_l_name_8 {
	0% { opacity:0.0; }
	49% { left:83%; top:24%; opacity:0.0; }
	79% { left:86%; top:15%; opacity:0.5; }
}
@-moz-keyframes bnr_a1_l_name_8 {
	0% { opacity:0.0; }
	49% { left:83%; top:24%; opacity:0.0; }
	79% { left:86%; top:15%; opacity:0.5; }
}
@-webkit-keyframes bnr_a1_l_name_8 {
	0% { opacity:0.0; }
	49% { left:83%; top:24%; opacity:0.0; }
	79% { left:86%; top:15%; opacity:0.5; }
}
@-o-keyframes bnr_a1_l_name_8 {
	0% { opacity:0.0; }
	49% { left:83%; top:24%; opacity:0.0; }
	79% { left:86%; top:15%; opacity:0.5; }
}
@-ms-keyframes bnr_a1_l_name_8 {
	0% { opacity:0.0; }
	49% { left:83%; top:24%; opacity:0.0; }
	79% { left:86%; top:15%; opacity:0.5; }
}

@keyframes bnr_a1_l_name_9 {
	0% { opacity:0.0; }
	49% { left:83%; top:31%; opacity:0.0; }
	79% { left:92%; top:4%; opacity:1.0; }
}
@-moz-keyframes bnr_a1_l_name_9 {
	0% { opacity:0.0; }
	49% { left:83%; top:31%; opacity:0.0; }
	79% { left:92%; top:4%; opacity:1.0; }
}
@-webkit-keyframes bnr_a1_l_name_9 {
	0% { opacity:0.0; }
	49% { left:83%; top:31%; opacity:0.0; }
	79% { left:92%; top:4%; opacity:1.0; }
}
@-o-keyframes bnr_a1_l_name_9 {
	0% { opacity:0.0; }
	49% { left:83%; top:31%; opacity:0.0; }
	79% { left:92%; top:4%; opacity:1.0; }
}
@-ms-keyframes bnr_a1_l_name_9 {
	0% { opacity:0.0; }
	49% { left:83%; top:31%; opacity:0.0; }
	79% { left:92%; top:4%; opacity:1.0; }
}

@keyframes bnr_a1_l_name_10 {
	0% { opacity:0.0; }
	49% { left:87%; top:52%; opacity:0.0; }
	79% { left:96%; top:25%; opacity:1.0; }
}
@-moz-keyframes bnr_a1_l_name_10 {
	0% { opacity:0.0; }
	49% { left:87%; top:52%; opacity:0.0; }
	79% { left:96%; top:25%; opacity:1.0; }
}
@-webkit-keyframes bnr_a1_l_name_10 {
	0% { opacity:0.0; }
	49% { left:87%; top:52%; opacity:0.0; }
	79% { left:96%; top:25%; opacity:1.0; }
}
@-o-keyframes bnr_a1_l_name_10 {
	0% { opacity:0.0; }
	49% { left:87%; top:52%; opacity:0.0; }
	79% { left:96%; top:25%; opacity:1.0; }
}
@-ms-keyframes bnr_a1_l_name_10 {
	0% { opacity:0.0; }
	49% { left:87%; top:52%; opacity:0.0; }
	79% { left:96%; top:25%; opacity:1.0; }
}

.bnr_a1 a { display:block; position:absolute; width:10%; }
.list_bnr .bnr_top .bnr_a1 a, #feature .list_bnr .bnr_top .bnr_a1 a { margin:0; }
.bnr_a1 a.bnr_a1_c_01 {
	left:5%;
	bottom:8%;
	z-index:101;
	animation:bnr_a1_name_1 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_1 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_1 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_1 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_1 3s ease 0s 1 normal;
}
.bnr_a1 a.bnr_a1_c_02 {
	left:17%;
	bottom:8%;
	z-index:102;
	animation:bnr_a1_name_2 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_2 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_2 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_2 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_2 3s ease 0s 1 normal;
}
.bnr_a1 a.bnr_a1_c_03 {
	left:29%;
	bottom:8%;
	z-index:103;
	animation:bnr_a1_name_3 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_3 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_3 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_3 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_3 3s ease 0s 1 normal;
}
.bnr_a1 a.bnr_a1_c_04 {
	left:41%;
	bottom:8%;
	z-index:104;
	animation:bnr_a1_name_4 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_4 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_4 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_4 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_4 3s ease 0s 1 normal;
}
.bnr_a1 a.bnr_a1_c_05 {
	left:53%;
	bottom:8%;
	z-index:105;
	animation:bnr_a1_name_5 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_5 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_5 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_5 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_5 3s ease 0s 1 normal;
}
.bnr_a1 a.bnr_a1_c_06 {
	left:64%;
	bottom:8%;
	z-index:106;
	animation:bnr_a1_name_6 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_6 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_6 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_6 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_6 3s ease 0s 1 normal;
}
.bnr_a1 a.bnr_a1_c_07 {
	left:75%;
	bottom:8%;
	z-index:107;
	animation:bnr_a1_name_7 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_7 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_7 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_7 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_7 3s ease 0s 1 normal;
}
.bnr_a1 a.bnr_a1_c_08 {
	left:86%;
	bottom:8%;
	z-index:108;
	animation:bnr_a1_name_8 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_8 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_8 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_8 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_8 3s ease 0s 1 normal;
}
@keyframes bnr_a1_name_1 {
	0% { left:105%; bottom:8%; z-index:101; }
	20% { transform: rotate( 0deg ); bottom:8%; }
	26% { transform: rotate( 3deg ); bottom:9%; }
	28% { transform: rotate( 0deg ); bottom:8%; left:5%; bottom:8%; z-index:101; }
	29% { transform: rotate( -2deg ); }
	30% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_1 {
	0% { left:105%; bottom:8%; z-index:101; }
	20% { transform: rotate( 0deg ); bottom:8%; }
	26% { transform: rotate( 3deg ); bottom:9%; }
	28% { transform: rotate( 0deg ); bottom:8%; left:5%; bottom:8%; z-index:101; }
	29% { transform: rotate( -2deg ); }
	30% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_1 {
	0% { left:105%; bottom:8%; z-index:101; }
	20% { transform: rotate( 0deg ); bottom:8%; }
	26% { transform: rotate( 3deg ); bottom:9%; }
	28% { transform: rotate( 0deg ); bottom:8%; left:5%; bottom:8%; z-index:101; }
	29% { transform: rotate( -2deg ); }
	30% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_1 {
	0% { left:105%; bottom:8%; z-index:101; }
	20% { transform: rotate( 0deg ); bottom:8%; }
	26% { transform: rotate( 3deg ); bottom:9%; }
	28% { transform: rotate( 0deg ); bottom:8%; left:5%; bottom:8%; z-index:101; }
	29% { transform: rotate( -2deg ); }
	30% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_1 {
	0% { left:105%; bottom:8%; z-index:101; }
	20% { transform: rotate( 0deg ); bottom:8%; }
	26% { transform: rotate( 3deg ); bottom:9%; }
	28% { transform: rotate( 0deg ); bottom:8%; left:5%; bottom:8%; z-index:101; }
	29% { transform: rotate( -2deg ); }
	30% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_2 {
	0% { left:117%; bottom:8%; z-index:102; }
	15% { left:117%; bottom:8%; z-index:102; }
	35% { transform: rotate( 0deg ); bottom:8%; }
	41% { transform: rotate( 3deg ); bottom:9%; }
	43% { transform: rotate( 0deg ); bottom:8%; left:17%; bottom:8%; z-index:102; }
	44% { transform: rotate( -2deg ); }
	45% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_2 {
	0% { left:117%; bottom:8%; z-index:102; }
	15% { left:117%; bottom:8%; z-index:102; }
	35% { transform: rotate( 0deg ); bottom:8%; }
	41% { transform: rotate( 3deg ); bottom:9%; }
	43% { transform: rotate( 0deg ); bottom:8%; left:17%; bottom:8%; z-index:102; }
	44% { transform: rotate( -2deg ); }
	45% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_2 {
	0% { left:117%; bottom:8%; z-index:102; }
	15% { left:117%; bottom:8%; z-index:102; }
	35% { transform: rotate( 0deg ); bottom:8%; }
	41% { transform: rotate( 3deg ); bottom:9%; }
	43% { transform: rotate( 0deg ); bottom:8%; left:17%; bottom:8%; z-index:102; }
	44% { transform: rotate( -2deg ); }
	45% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_2 {
	0% { left:117%; bottom:8%; z-index:102; }
	15% { left:117%; bottom:8%; z-index:102; }
	35% { transform: rotate( 0deg ); bottom:8%; }
	41% { transform: rotate( 3deg ); bottom:9%; }
	43% { transform: rotate( 0deg ); bottom:8%; left:17%; bottom:8%; z-index:102; }
	44% { transform: rotate( -2deg ); }
	45% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_2 {
	0% { left:117%; bottom:8%; z-index:102; }
	15% { left:117%; bottom:8%; z-index:102; }
	35% { transform: rotate( 0deg ); bottom:8%; }
	41% { transform: rotate( 3deg ); bottom:9%; }
	43% { transform: rotate( 0deg ); bottom:8%; left:17%; bottom:8%; z-index:102; }
	44% { transform: rotate( -2deg ); }
	45% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_3 {
	0% { left:129%; bottom:8%; z-index:103; }
	20% { left:129%; bottom:8%; z-index:103; }
	40% { transform: rotate( 0deg ); bottom:8%; }
	46% { transform: rotate( 3deg ); bottom:9%; }
	48% { transform: rotate( 0deg ); bottom:8%; left:29%; bottom:8%; z-index:101; }
	49% { transform: rotate( -2deg ); }
	50% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_3 {
	0% { left:129%; bottom:8%; z-index:103; }
	20% { left:129%; bottom:8%; z-index:103; }
	40% { transform: rotate( 0deg ); bottom:8%; }
	46% { transform: rotate( 3deg ); bottom:9%; }
	48% { transform: rotate( 0deg ); bottom:8%; left:29%; bottom:8%; z-index:101; }
	49% { transform: rotate( -2deg ); }
	50% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_3 {
	0% { left:129%; bottom:8%; z-index:103; }
	20% { left:129%; bottom:8%; z-index:103; }
	40% { transform: rotate( 0deg ); bottom:8%; }
	46% { transform: rotate( 3deg ); bottom:9%; }
	48% { transform: rotate( 0deg ); bottom:8%; left:29%; bottom:8%; z-index:101; }
	49% { transform: rotate( -2deg ); }
	50% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_3 {
	0% { left:129%; bottom:8%; z-index:103; }
	20% { left:129%; bottom:8%; z-index:103; }
	40% { transform: rotate( 0deg ); bottom:8%; }
	46% { transform: rotate( 3deg ); bottom:9%; }
	48% { transform: rotate( 0deg ); bottom:8%; left:29%; bottom:8%; z-index:101; }
	49% { transform: rotate( -2deg ); }
	50% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_3 {
	0% { left:129%; bottom:8%; z-index:103; }
	20% { left:129%; bottom:8%; z-index:103; }
	40% { transform: rotate( 0deg ); bottom:8%; }
	46% { transform: rotate( 3deg ); bottom:9%; }
	48% { transform: rotate( 0deg ); bottom:8%; left:29%; bottom:8%; z-index:101; }
	49% { transform: rotate( -2deg ); }
	50% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_4 {
	0% { left:141%; bottom:8%; z-index:104; }
	25% { left:141%; bottom:8%; z-index:104; }
	45% { transform: rotate( 0deg ); bottom:8%; }
	51% { transform: rotate( 3deg ); bottom:9%; }
	53% { transform: rotate( 0deg ); bottom:8%; left:41%; bottom:8%; z-index:104; }
	54% { transform: rotate( -2deg ); }
	55% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_4 {
	0% { left:141%; bottom:8%; z-index:104; }
	25% { left:141%; bottom:8%; z-index:104; }
	45% { transform: rotate( 0deg ); bottom:8%; }
	51% { transform: rotate( 3deg ); bottom:9%; }
	53% { transform: rotate( 0deg ); bottom:8%; left:41%; bottom:8%; z-index:104; }
	54% { transform: rotate( -2deg ); }
	55% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_4 {
	0% { left:141%; bottom:8%; z-index:104; }
	25% { left:141%; bottom:8%; z-index:104; }
	45% { transform: rotate( 0deg ); bottom:8%; }
	51% { transform: rotate( 3deg ); bottom:9%; }
	53% { transform: rotate( 0deg ); bottom:8%; left:41%; bottom:8%; z-index:104; }
	54% { transform: rotate( -2deg ); }
	55% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_4 {
	0% { left:141%; bottom:8%; z-index:104; }
	25% { left:141%; bottom:8%; z-index:104; }
	45% { transform: rotate( 0deg ); bottom:8%; }
	51% { transform: rotate( 3deg ); bottom:9%; }
	53% { transform: rotate( 0deg ); bottom:8%; left:41%; bottom:8%; z-index:104; }
	54% { transform: rotate( -2deg ); }
	55% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_4 {
	0% { left:141%; bottom:8%; z-index:104; }
	25% { left:141%; bottom:8%; z-index:104; }
	45% { transform: rotate( 0deg ); bottom:8%; }
	51% { transform: rotate( 3deg ); bottom:9%; }
	53% { transform: rotate( 0deg ); bottom:8%; left:41%; bottom:8%; z-index:104; }
	54% { transform: rotate( -2deg ); }
	55% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_5 {
	0% { left:153%; bottom:8%; z-index:105; }
	30% { left:153%; bottom:8%; z-index:105; }
	50% { transform: rotate( 0deg ); bottom:8%; }
	56% { transform: rotate( 3deg ); bottom:9%; }
	58% { transform: rotate( 0deg ); bottom:8%; left:53%; bottom:8%; z-index:105; }
	59% { transform: rotate( -2deg ); }
	60% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_5 {
	0% { left:153%; bottom:8%; z-index:105; }
	30% { left:153%; bottom:8%; z-index:105; }
	50% { transform: rotate( 0deg ); bottom:8%; }
	56% { transform: rotate( 3deg ); bottom:9%; }
	58% { transform: rotate( 0deg ); bottom:8%; left:53%; bottom:8%; z-index:105; }
	59% { transform: rotate( -2deg ); }
	60% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_5 {
	0% { left:153%; bottom:8%; z-index:105; }
	30% { left:153%; bottom:8%; z-index:105; }
	50% { transform: rotate( 0deg ); bottom:8%; }
	56% { transform: rotate( 3deg ); bottom:9%; }
	58% { transform: rotate( 0deg ); bottom:8%; left:53%; bottom:8%; z-index:105; }
	59% { transform: rotate( -2deg ); }
	60% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_5 {
	0% { left:153%; bottom:8%; z-index:105; }
	30% { left:153%; bottom:8%; z-index:105; }
	50% { transform: rotate( 0deg ); bottom:8%; }
	56% { transform: rotate( 3deg ); bottom:9%; }
	58% { transform: rotate( 0deg ); bottom:8%; left:53%; bottom:8%; z-index:105; }
	59% { transform: rotate( -2deg ); }
	60% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_5 {
	0% { left:153%; bottom:8%; z-index:105; }
	30% { left:153%; bottom:8%; z-index:105; }
	50% { transform: rotate( 0deg ); bottom:8%; }
	56% { transform: rotate( 3deg ); bottom:9%; }
	58% { transform: rotate( 0deg ); bottom:8%; left:53%; bottom:8%; z-index:105; }
	59% { transform: rotate( -2deg ); }
	60% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_6 {
	0% { left:164%; bottom:8%; z-index:106; }
	33% { left:164%; bottom:8%; z-index:106; }
	53% { transform: rotate( 0deg ); bottom:8%; }
	59% { transform: rotate( 3deg ); bottom:9%; }
	61% { transform: rotate( 0deg ); bottom:8%; left:64%; bottom:8%; z-index:106; }
	62% { transform: rotate( -2deg ); }
	63% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_6 {
	0% { left:164%; bottom:8%; z-index:106; }
	33% { left:164%; bottom:8%; z-index:106; }
	53% { transform: rotate( 0deg ); bottom:8%; }
	59% { transform: rotate( 3deg ); bottom:9%; }
	61% { transform: rotate( 0deg ); bottom:8%; left:64%; bottom:8%; z-index:106; }
	62% { transform: rotate( -2deg ); }
	63% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_6 {
	0% { left:164%; bottom:8%; z-index:106; }
	33% { left:164%; bottom:8%; z-index:106; }
	53% { transform: rotate( 0deg ); bottom:8%; }
	59% { transform: rotate( 3deg ); bottom:9%; }
	61% { transform: rotate( 0deg ); bottom:8%; left:64%; bottom:8%; z-index:106; }
	62% { transform: rotate( -2deg ); }
	63% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_6 {
	0% { left:164%; bottom:8%; z-index:106; }
	33% { left:164%; bottom:8%; z-index:106; }
	53% { transform: rotate( 0deg ); bottom:8%; }
	59% { transform: rotate( 3deg ); bottom:9%; }
	61% { transform: rotate( 0deg ); bottom:8%; left:64%; bottom:8%; z-index:106; }
	62% { transform: rotate( -2deg ); }
	63% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_6 {
	0% { left:164%; bottom:8%; z-index:106; }
	33% { left:164%; bottom:8%; z-index:106; }
	53% { transform: rotate( 0deg ); bottom:8%; }
	59% { transform: rotate( 3deg ); bottom:9%; }
	61% { transform: rotate( 0deg ); bottom:8%; left:64%; bottom:8%; z-index:106; }
	62% { transform: rotate( -2deg ); }
	63% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_7 {
	0% { left:175%; bottom:8%; z-index:107; }
	36% { left:175%; bottom:8%; z-index:107; }
	56% { transform: rotate( 0deg ); bottom:8%; }
	62% { transform: rotate( 3deg ); bottom:9%; }
	64% { transform: rotate( 0deg ); bottom:8%; left:75%; bottom:8%; z-index:107; }
	65% { transform: rotate( -2deg ); }
	66% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_7 {
	0% { left:175%; bottom:8%; z-index:107; }
	36% { left:175%; bottom:8%; z-index:107; }
	56% { transform: rotate( 0deg ); bottom:8%; }
	62% { transform: rotate( 3deg ); bottom:9%; }
	64% { transform: rotate( 0deg ); bottom:8%; left:75%; bottom:8%; z-index:107; }
	65% { transform: rotate( -2deg ); }
	66% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_7 {
	0% { left:175%; bottom:8%; z-index:107; }
	36% { left:175%; bottom:8%; z-index:107; }
	56% { transform: rotate( 0deg ); bottom:8%; }
	62% { transform: rotate( 3deg ); bottom:9%; }
	64% { transform: rotate( 0deg ); bottom:8%; left:75%; bottom:8%; z-index:107; }
	65% { transform: rotate( -2deg ); }
	66% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_7 {
	0% { left:175%; bottom:8%; z-index:107; }
	36% { left:175%; bottom:8%; z-index:107; }
	56% { transform: rotate( 0deg ); bottom:8%; }
	62% { transform: rotate( 3deg ); bottom:9%; }
	64% { transform: rotate( 0deg ); bottom:8%; left:75%; bottom:8%; z-index:107; }
	65% { transform: rotate( -2deg ); }
	66% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_7 {
	0% { left:175%; bottom:8%; z-index:107; }
	36% { left:175%; bottom:8%; z-index:107; }
	56% { transform: rotate( 0deg ); bottom:8%; }
	62% { transform: rotate( 3deg ); bottom:9%; }
	64% { transform: rotate( 0deg ); bottom:8%; left:75%; bottom:8%; z-index:107; }
	65% { transform: rotate( -2deg ); }
	66% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_8 {
	0% { left:186%; bottom:8%; z-index:108; }
	39% { left:186%; bottom:8%; z-index:108; }
	59% { transform: rotate( 0deg ); bottom:8%; }
	65% { transform: rotate( 3deg ); bottom:9%; }
	67% { transform: rotate( 0deg ); bottom:8%; left:86%; bottom:8%; z-index:108; }
	68% { transform: rotate( -2deg ); }
	69% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_8 {
	0% { left:186%; bottom:8%; z-index:108; }
	39% { left:186%; bottom:8%; z-index:108; }
	59% { transform: rotate( 0deg ); bottom:8%; }
	65% { transform: rotate( 3deg ); bottom:9%; }
	67% { transform: rotate( 0deg ); bottom:8%; left:86%; bottom:8%; z-index:108; }
	68% { transform: rotate( -2deg ); }
	69% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_8 {
	0% { left:186%; bottom:8%; z-index:108; }
	39% { left:186%; bottom:8%; z-index:108; }
	59% { transform: rotate( 0deg ); bottom:8%; }
	65% { transform: rotate( 3deg ); bottom:9%; }
	67% { transform: rotate( 0deg ); bottom:8%; left:86%; bottom:8%; z-index:108; }
	68% { transform: rotate( -2deg ); }
	69% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_8 {
	0% { left:186%; bottom:8%; z-index:108; }
	39% { left:186%; bottom:8%; z-index:108; }
	59% { transform: rotate( 0deg ); bottom:8%; }
	65% { transform: rotate( 3deg ); bottom:9%; }
	67% { transform: rotate( 0deg ); bottom:8%; left:86%; bottom:8%; z-index:108; }
	68% { transform: rotate( -2deg ); }
	69% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_8 {
	0% { left:186%; bottom:8%; z-index:108; }
	39% { left:186%; bottom:8%; z-index:108; }
	59% { transform: rotate( 0deg ); bottom:8%; }
	65% { transform: rotate( 3deg ); bottom:9%; }
	67% { transform: rotate( 0deg ); bottom:8%; left:86%; bottom:8%; z-index:108; }
	68% { transform: rotate( -2deg ); }
	69% { transform: rotate( 0deg ); }
}
.bnr_a1 img.bnr_a1_c_s { width:10%; }
.bnr_a1 img.bnr_a1_c_01_s {
	position:absolute;
	left:5%;
	top:92%;
	z-index:11;
	animation:bnr_a1_name_1_s 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_1_s 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_1_s 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_1_s 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_1_s 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_c_02_s {
	position:absolute;
	left:17%;
	top:92%;
	z-index:12;
	animation:bnr_a1_name_2_s 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_2_s 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_2_s 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_2_s 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_2_s 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_c_03_s {
	position:absolute;
	left:29%;
	top:92%;
	z-index:13;
	animation:bnr_a1_name_3_s 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_3_s 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_3_s 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_3_s 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_3_s 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_c_04_s {
	position:absolute;
	left:41%;
	top:92%;
	z-index:14;
	animation:bnr_a1_name_4_s 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_4_s 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_4_s 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_4_s 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_4_s 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_c_05_s {
	position:absolute;
	left:53%;
	top:92%;
	z-index:15;
	animation:bnr_a1_name_5_s 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_5_s 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_5_s 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_5_s 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_5_s 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_c_06_s {
	position:absolute;
	left:64%;
	top:92%;
	z-index:16;
	animation:bnr_a1_name_6_s 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_6_s 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_6_s 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_6_s 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_6_s 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_c_07_s {
	position:absolute;
	left:75%;
	top:92%;
	z-index:17;
	animation:bnr_a1_name_7_s 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_7_s 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_7_s 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_7_s 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_7_s 3s ease 0s 1 normal;
}
.bnr_a1 img.bnr_a1_c_08_s {
	position:absolute;
	left:86%;
	top:92%;
	z-index:18;
	animation:bnr_a1_name_8_s 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_8_s 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_8_s 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_8_s 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_8_s 3s ease 0s 1 normal;
}
@keyframes bnr_a1_name_1_s {
	0% { left:105%; top:92%; z-index:101; }
	20% { transform: rotate( 0deg ); top:92%; }
	26% { transform: rotate( -3deg ); top:93%; }
	28% { transform: rotate( 0deg ); left:5%; top:92%; z-index:101; }
	29% { transform: rotate( 2deg ); }
	30% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_1_s {
	0% { left:105%; top:92%; z-index:101; }
	20% { transform: rotate( 0deg ); top:92%; }
	26% { transform: rotate( -3deg ); top:93%; }
	28% { transform: rotate( 0deg ); left:5%; top:92%; z-index:101; }
	29% { transform: rotate( 2deg ); }
	30% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_1_s {
	0% { left:105%; top:92%; z-index:101; }
	20% { transform: rotate( 0deg ); top:92%; }
	26% { transform: rotate( -3deg ); top:93%; }
	28% { transform: rotate( 0deg ); left:5%; top:92%; z-index:101; }
	29% { transform: rotate( 2deg ); }
	30% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_1_s {
	0% { left:105%; top:92%; z-index:101; }
	20% { transform: rotate( 0deg ); top:92%; }
	26% { transform: rotate( -3deg ); top:93%; }
	28% { transform: rotate( 0deg ); left:5%; top:92%; z-index:101; }
	29% { transform: rotate( 2deg ); }
	30% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_1_s {
	0% { left:105%; top:92%; z-index:101; }
	20% { transform: rotate( 0deg ); top:92%; }
	26% { transform: rotate( -3deg ); top:93%; }
	28% { transform: rotate( 0deg ); left:5%; top:92%; z-index:101; }
	29% { transform: rotate( 2deg ); }
	30% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_2_s {
	0% { left:117%; top:92%; z-index:101; }
	15% { left:117%; top:92%; z-index:101; }
	35% { transform: rotate( 0deg ); top:92%; }
	41% { transform: rotate( -3deg ); top:93%; }
	43% { transform: rotate( 0deg ); left:17%; top:92%; z-index:102; }
	44% { transform: rotate( 2deg ); }
	45% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_2_s {
	0% { left:117%; top:92%; z-index:101; }
	15% { left:117%; top:92%; z-index:101; }
	35% { transform: rotate( 0deg ); top:92%; }
	41% { transform: rotate( -3deg ); top:93%; }
	43% { transform: rotate( 0deg ); left:17%; top:92%; z-index:102; }
	44% { transform: rotate( 2deg ); }
	45% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_2_s {
	0% { left:117%; top:92%; z-index:101; }
	15% { left:117%; top:92%; z-index:101; }
	35% { transform: rotate( 0deg ); top:92%; }
	41% { transform: rotate( -3deg ); top:93%; }
	43% { transform: rotate( 0deg ); left:17%; top:92%; z-index:102; }
	44% { transform: rotate( 2deg ); }
	45% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_2_s {
	0% { left:117%; top:92%; z-index:101; }
	15% { left:117%; top:92%; z-index:101; }
	35% { transform: rotate( 0deg ); top:92%; }
	41% { transform: rotate( -3deg ); top:93%; }
	43% { transform: rotate( 0deg ); left:17%; top:92%; z-index:102; }
	44% { transform: rotate( 2deg ); }
	45% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_2_s {
	0% { left:117%; top:92%; z-index:101; }
	15% { left:117%; top:92%; z-index:101; }
	35% { transform: rotate( 0deg ); top:92%; }
	41% { transform: rotate( -3deg ); top:93%; }
	43% { transform: rotate( 0deg ); left:17%; top:92%; z-index:102; }
	44% { transform: rotate( 2deg ); }
	45% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_3_s {
	0% { left:129%; top:92%; z-index:103; }
	20% { left:129%; top:92%; z-index:103; }
	40% { transform: rotate( 0deg ); top:92%; }
	46% { transform: rotate( -3deg ); top:93%; }
	48% { transform: rotate( 0deg ); left:29%; top:92%; z-index:102; }
	49% { transform: rotate( 2deg ); }
	50% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_3_s {
	0% { left:129%; top:92%; z-index:103; }
	20% { left:129%; top:92%; z-index:103; }
	40% { transform: rotate( 0deg ); top:92%; }
	46% { transform: rotate( -3deg ); top:93%; }
	48% { transform: rotate( 0deg ); left:29%; top:92%; z-index:102; }
	49% { transform: rotate( 2deg ); }
	50% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_3_s {
	0% { left:129%; top:92%; z-index:103; }
	20% { left:129%; top:92%; z-index:103; }
	40% { transform: rotate( 0deg ); top:92%; }
	46% { transform: rotate( -3deg ); top:93%; }
	48% { transform: rotate( 0deg ); left:29%; top:92%; z-index:102; }
	49% { transform: rotate( 2deg ); }
	50% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_3_s {
	0% { left:129%; top:92%; z-index:103; }
	20% { left:129%; top:92%; z-index:103; }
	40% { transform: rotate( 0deg ); top:92%; }
	46% { transform: rotate( -3deg ); top:93%; }
	48% { transform: rotate( 0deg ); left:29%; top:92%; z-index:102; }
	49% { transform: rotate( 2deg ); }
	50% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_3_s {
	0% { left:129%; top:92%; z-index:103; }
	20% { left:129%; top:92%; z-index:103; }
	40% { transform: rotate( 0deg ); top:92%; }
	46% { transform: rotate( -3deg ); top:93%; }
	48% { transform: rotate( 0deg ); left:29%; top:92%; z-index:102; }
	49% { transform: rotate( 2deg ); }
	50% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_4_s {
	0% { left:141%; top:92%; z-index:104; }
	25% { left:141%; top:92%; z-index:104; }
	45% { transform: rotate( 0deg ); top:92%; }
	51% { transform: rotate( -3deg ); top:93%; }
	53% { transform: rotate( 0deg ); left:41%; top:92%; z-index:104; }
	54% { transform: rotate( 2deg ); }
	55% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_4_s {
	0% { left:141%; top:92%; z-index:104; }
	25% { left:141%; top:92%; z-index:104; }
	45% { transform: rotate( 0deg ); top:92%; }
	51% { transform: rotate( -3deg ); top:93%; }
	53% { transform: rotate( 0deg ); left:41%; top:92%; z-index:104; }
	54% { transform: rotate( 2deg ); }
	55% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_4_s {
	0% { left:141%; top:92%; z-index:104; }
	25% { left:141%; top:92%; z-index:104; }
	45% { transform: rotate( 0deg ); top:92%; }
	51% { transform: rotate( -3deg ); top:93%; }
	53% { transform: rotate( 0deg ); left:41%; top:92%; z-index:104; }
	54% { transform: rotate( 2deg ); }
	55% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_4_s {
	0% { left:141%; top:92%; z-index:104; }
	25% { left:141%; top:92%; z-index:104; }
	45% { transform: rotate( 0deg ); top:92%; }
	51% { transform: rotate( -3deg ); top:93%; }
	53% { transform: rotate( 0deg ); left:41%; top:92%; z-index:104; }
	54% { transform: rotate( 2deg ); }
	55% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_4_s {
	0% { left:141%; top:92%; z-index:104; }
	25% { left:141%; top:92%; z-index:104; }
	45% { transform: rotate( 0deg ); top:92%; }
	51% { transform: rotate( -3deg ); top:93%; }
	53% { transform: rotate( 0deg ); left:41%; top:92%; z-index:104; }
	54% { transform: rotate( 2deg ); }
	55% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_5_s {
	0% { left:153%; top:92%; z-index:105; }
	30% { left:153%; top:92%; z-index:105; }
	50% { transform: rotate( 0deg ); top:92%; }
	56% { transform: rotate( -3deg ); top:93%; }
	58% { transform: rotate( 0deg ); left:53%; top:92%; z-index:105; }
	59% { transform: rotate( 2deg ); }
	60% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_5_s {
	0% { left:153%; top:92%; z-index:105; }
	30% { left:153%; top:92%; z-index:105; }
	50% { transform: rotate( 0deg ); top:92%; }
	56% { transform: rotate( -3deg ); top:93%; }
	58% { transform: rotate( 0deg ); left:53%; top:92%; z-index:105; }
	59% { transform: rotate( 2deg ); }
	60% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_5_s {
	0% { left:153%; top:92%; z-index:105; }
	30% { left:153%; top:92%; z-index:105; }
	50% { transform: rotate( 0deg ); top:92%; }
	56% { transform: rotate( -3deg ); top:93%; }
	58% { transform: rotate( 0deg ); left:53%; top:92%; z-index:105; }
	59% { transform: rotate( 2deg ); }
	60% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_5_s {
	0% { left:153%; top:92%; z-index:105; }
	30% { left:153%; top:92%; z-index:105; }
	50% { transform: rotate( 0deg ); top:92%; }
	56% { transform: rotate( -3deg ); top:93%; }
	58% { transform: rotate( 0deg ); left:53%; top:92%; z-index:105; }
	59% { transform: rotate( 2deg ); }
	60% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_5_s {
	0% { left:153%; top:92%; z-index:105; }
	30% { left:153%; top:92%; z-index:105; }
	50% { transform: rotate( 0deg ); top:92%; }
	56% { transform: rotate( -3deg ); top:93%; }
	58% { transform: rotate( 0deg ); left:53%; top:92%; z-index:105; }
	59% { transform: rotate( 2deg ); }
	60% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_6_s {
	0% { left:164%; top:92%; z-index:106; }
	33% { left:164%; top:92%; z-index:106; }
	53% { transform: rotate( 0deg ); top:92%; }
	59% { transform: rotate( -3deg ); top:93%; }
	61% { transform: rotate( 0deg ); left:64%; top:92%; z-index:106; }
	62% { transform: rotate( 2deg ); }
	63% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_6_s {
	0% { left:164%; top:92%; z-index:106; }
	33% { left:164%; top:92%; z-index:106; }
	53% { transform: rotate( 0deg ); top:92%; }
	59% { transform: rotate( -3deg ); top:93%; }
	61% { transform: rotate( 0deg ); left:64%; top:92%; z-index:106; }
	62% { transform: rotate( 2deg ); }
	63% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_6_s {
	0% { left:164%; top:92%; z-index:106; }
	33% { left:164%; top:92%; z-index:106; }
	53% { transform: rotate( 0deg ); top:92%; }
	59% { transform: rotate( -3deg ); top:93%; }
	61% { transform: rotate( 0deg ); left:64%; top:92%; z-index:106; }
	62% { transform: rotate( 2deg ); }
	63% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_6_s {
	0% { left:164%; top:92%; z-index:106; }
	33% { left:164%; top:92%; z-index:106; }
	53% { transform: rotate( 0deg ); top:92%; }
	59% { transform: rotate( -3deg ); top:93%; }
	61% { transform: rotate( 0deg ); left:64%; top:92%; z-index:106; }
	62% { transform: rotate( 2deg ); }
	63% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_6_s {
	0% { left:164%; top:92%; z-index:106; }
	33% { left:164%; top:92%; z-index:106; }
	53% { transform: rotate( 0deg ); top:92%; }
	59% { transform: rotate( -3deg ); top:93%; }
	61% { transform: rotate( 0deg ); left:64%; top:92%; z-index:106; }
	62% { transform: rotate( 2deg ); }
	63% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_7_s {
	0% { left:175%; top:92%; z-index:107; }
	36% { left:175%; top:92%; z-index:107; }
	56% { transform: rotate( 0deg ); top:92%; }
	62% { transform: rotate( -3deg ); top:93%; }
	64% { transform: rotate( 0deg ); left:75%; top:92%; z-index:107; }
	65% { transform: rotate( 2deg ); }
	66% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_7_s {
	0% { left:175%; top:92%; z-index:107; }
	36% { left:175%; top:92%; z-index:107; }
	56% { transform: rotate( 0deg ); top:92%; }
	62% { transform: rotate( -3deg ); top:93%; }
	64% { transform: rotate( 0deg ); left:75%; top:92%; z-index:107; }
	65% { transform: rotate( 2deg ); }
	66% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_7_s {
	0% { left:175%; top:92%; z-index:107; }
	36% { left:175%; top:92%; z-index:107; }
	56% { transform: rotate( 0deg ); top:92%; }
	62% { transform: rotate( -3deg ); top:93%; }
	64% { transform: rotate( 0deg ); left:75%; top:92%; z-index:107; }
	65% { transform: rotate( 2deg ); }
	66% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_7_s {
	0% { left:175%; top:92%; z-index:107; }
	36% { left:175%; top:92%; z-index:107; }
	56% { transform: rotate( 0deg ); top:92%; }
	62% { transform: rotate( -3deg ); top:93%; }
	64% { transform: rotate( 0deg ); left:75%; top:92%; z-index:107; }
	65% { transform: rotate( 2deg ); }
	66% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_7_s {
	0% { left:175%; top:92%; z-index:107; }
	36% { left:175%; top:92%; z-index:107; }
	56% { transform: rotate( 0deg ); top:92%; }
	62% { transform: rotate( -3deg ); top:93%; }
	64% { transform: rotate( 0deg ); left:75%; top:92%; z-index:107; }
	65% { transform: rotate( 2deg ); }
	66% { transform: rotate( 0deg ); }
}

@keyframes bnr_a1_name_8_s {
	0% { left:186%; top:92%; z-index:108; }
	39% { left:186%; top:92%; z-index:108; }
	59% { transform: rotate( 0deg ); top:92%; }
	65% { transform: rotate( -3deg ); top:93%; }
	67% { transform: rotate( 0deg ); left:86%; top:92%; z-index:108; }
	68% { transform: rotate( 2deg ); }
	69% { transform: rotate( 0deg ); }
}
@-moz-keyframes bnr_a1_name_8_s {
	0% { left:186%; top:92%; z-index:108; }
	39% { left:186%; top:92%; z-index:108; }
	59% { transform: rotate( 0deg ); top:92%; }
	65% { transform: rotate( -3deg ); top:93%; }
	67% { transform: rotate( 0deg ); left:86%; top:92%; z-index:108; }
	68% { transform: rotate( 2deg ); }
	69% { transform: rotate( 0deg ); }
}
@-webkit-keyframes bnr_a1_name_8_s {
	0% { left:186%; top:92%; z-index:108; }
	39% { left:186%; top:92%; z-index:108; }
	59% { transform: rotate( 0deg ); top:92%; }
	65% { transform: rotate( -3deg ); top:93%; }
	67% { transform: rotate( 0deg ); left:86%; top:92%; z-index:108; }
	68% { transform: rotate( 2deg ); }
	69% { transform: rotate( 0deg ); }
}
@-o-keyframes bnr_a1_name_8_s {
	0% { left:186%; top:92%; z-index:108; }
	39% { left:186%; top:92%; z-index:108; }
	59% { transform: rotate( 0deg ); top:92%; }
	65% { transform: rotate( -3deg ); top:93%; }
	67% { transform: rotate( 0deg ); left:86%; top:92%; z-index:108; }
	68% { transform: rotate( 2deg ); }
	69% { transform: rotate( 0deg ); }
}
@-ms-keyframes bnr_a1_name_8_s {
	0% { left:186%; top:92%; z-index:108; }
	39% { left:186%; top:92%; z-index:108; }
	59% { transform: rotate( 0deg ); top:92%; }
	65% { transform: rotate( -3deg ); top:93%; }
	67% { transform: rotate( 0deg ); left:86%; top:92%; z-index:108; }
	68% { transform: rotate( 2deg ); }
	69% { transform: rotate( 0deg ); }
}
.bnr_a1_txt_2 {
	display:block;
	position:absolute;
	left:20%;
	top:11%;
	font-size:1.4rem;
	font-weight:500;
	line-height:22px;
	text-align:center;
	width:60%;
	color:#c16689;
	opacity:1.0;
	z-index:1000;
	animation:bnr_a1_name_t2 3s ease 0s 1 normal;
	-moz-animation:bnr_a1_name_t2 3s ease 0s 1 normal;
	-webkit-animation:bnr_a1_name_t2 3s ease 0s 1 normal;
	-o-animation:bnr_a1_name_t2 3s ease 0s 1 normal;
	-ms-animation:bnr_a1_name_t2 3s ease 0s 1 normal;
}
@keyframes bnr_a1_name_t2 {
	0% { opacity:0.0; }
	49% { opacity:0.0; }
	79% { opacity:1.0; }
}
@-moz-keyframes bnr_a1_name_t2 {
	0% { opacity:0.0; }
	49% { opacity:0.0; }
	79% { opacity:1.0; }
}
@-webkit-keyframes bnr_a1_name_t2 {
	0% { opacity:0.0; }
	49% { opacity:0.0; }
	79% { opacity:1.0; }
}
@-o-keyframes bnr_a1_name_t2 {
	0% { opacity:0.0; }
	49% { opacity:0.0; }
	79% { opacity:1.0; }
}
@-ms-keyframes bnr_a1_name_t2 {
	0% { opacity:0.0; }
	49% { opacity:0.0; }
	79% { opacity:1.0; }
}

@media screen and (max-width: 600px) { 
	.bnr_animation { height:auto; width:100%; }
	.bnr_a1 { }
	.bnr_a1 img.bnr_animation_bg { display:block; width:100%; }
}




