@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Sawarabi+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

* {
  scroll-behavior: smooth;
}

* a {
  color: #444444;
  text-decoration: none;
  cursor: pointer;
}

* {
  font-family: "Sawarabi Gothic", "M PLUS 1", sans-serif;
}

@media (min-width: 600px) {
  #root {
    height: 950vh;
    position: relative;
  }
  #mobile-area {
    display: none;
  }
  #desktop-area {
    width: 100%;
    height: 222.3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .header-top {
    width: 1080px;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .header-top > a {
    width: 35%;
    height: 100%;
  }
  .header-top > a > img {
    width: 100%;
    height: 100%;
  }
  .site-menu {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
  }
  .site-menu > div {
    width: 25%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .site-menu > div > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
  }
  .site-menu > div:nth-child(1) {
    border-right: 2px solid #444444;
  }
  .site-menu > div:nth-child(2) {
    border-right: 2px solid #444444;
  }
  .site-menu > div:nth-child(3) {
    border-right: 2px solid #444444;
  }
  .header-bottom {
    width: 1080px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
  .header-bottom > div:first-child {
    width: 75%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .dropdown {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .dropdown:hover .item {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-bottom: 3px solid #c2c2c2;
    position: absolute;
    top: 215px;
    left: 0;
    z-index: 100;
  }
  .dropdown:hover .item > div {
    width: 1080px;
    height: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .dropdown:hover .item > div > div {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .dropdown:hover .item > div > div > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .dropdown:hover .item > div > div > a:hover {
    font-size: 0.9rem;
    font-weight: 500;
    color: #B8648E;
  }
  .dropdown-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
  }
  .dropdown-btn > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .dropdown-btn:hover {
    color: #B8648E;
  }
  .dropdown-btn:hover > a:hover {
    color: #B8648E;
  }
  .item {
    font-size: 0.8rem;
    font-weight: 500;
    color: #2c2c2c;
    display: none;
    letter-spacing: 1px;
  }
  .menu-btn {
    width: 20px;
    height: 20px;
    margin-left: 2vw;
  }
  .menu-btn:hover {
    width: 22px;
    height: 22px;
  }
  .search-box {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
  .text-area {
    width: 280px;
    height: 30px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #444444;
  }
  .search-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 31%;
    left: 85%;
    z-index: 100;
  }
  #slide-container {
    position: relative;
  }
  #slide {
    width: 100vw;
    height: 504px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: -3.5vh;
    left: 0;
    z-index: 100;
    z-index: 5;
    border-top: 3px solid #c2c2c2;
    border-bottom: 3px solid #c2c2c2;
  }
  .slick-list {
    width: 1080px;
    height: 100%;
  }
  #left-arrow, #right-arrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    opacity: 0.8;
    position: absolute;
    top: 40%;
  }
  #left-arrow:hover, #right-arrow:hover {
    opacity: 1;
  }
  #left-arrow {
    left: 22.5%;
  }
  #right-arrow {
    right: 22.5%;
  }
  main {
    width: 1080px;
    height: 800vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  #main-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .brand-top {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .brand-top > div:nth-child(1) {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .brand-top > div:nth-child(1) > div:nth-child(1) {
    width: 85%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 500;
    color: #222;
  }
  .brand-top > div:nth-child(1) > div:nth-child(2) {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .brand-top > div:nth-child(1) > div:nth-child(2) > img {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-top > div:nth-child(1) > div:nth-child(2) > div {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .brand-top > div:nth-child(1) > div:nth-child(2) > div > div {
    font-size: 1.2rem;
    font-weight: 500;
    color: #444444;
  }
  .brand-top > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(1) {
    left: 6%;
  }
  .brand-top > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) {
    left: 25%;
  }
  .brand-top > div:nth-child(2) > div:first-child {
    line-height: 2.5;
    font-size: 1.1rem;
    font-weight: 500;
    color: #222;
  }
  .brand-top > div:nth-child(2) > div:last-child {
    width: 0%;
    height: 30%;
    bottom: 0%;
  }
  .brand-top > div:nth-child(3) {
    width: 85%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .brand-top > div:nth-child(3) > img {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-media {
    width: 100%;
    height: 165vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .brand-media > iframe {
    width: 55%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-media > img:nth-child(2) {
    width: 85%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-media > div:nth-child(3) {
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 100;
    font-size: 1.1rem;
    font-weight: 500;
    color: #222;
    line-height: 3;
    z-index: 1;
  }
  .brand-media > img:nth-child(4) {
    width: 85%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-media > div:last-child {
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top: solid 2px #444444;
    border-bottom: solid 2px #444444;
    font-size: 1.1rem;
    font-weight: 400;
    color: #222;
  }
  .brand-patent {
    width: 100%;
    height: 125vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .patent-top {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .patent-top > div:nth-child(1) > div {
    font-size: 1.3rem;
    font-weight: 500;
    color: #444444;
  }
  .patent-top > div:nth-child(1) > img {
    width: 70%;
    height: 100%;
  }
  .patent-top > div:nth-child(2) {
    width: 80%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .patent-top > div:nth-child(2) > img {
    width: 85%;
    height: 40%;
  }
  .patent-bottom > div:nth-child(1) > div {
    font-size: 1.3rem;
    font-weight: 500;
    color: #444444;
  }
  .patent-bottom > div:nth-child(1) > img {
    width: 70%;
    height: 100%;
  }
  .patent-bottom > div:nth-child(2) {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .patent-bottom > div:nth-child(2) > img {
    width: 85%;
    height: 100%;
  }
  .brand-lap {
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .brand-lap > div > div {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-lap > div:first-child > div:last-child {
    font-size: 1rem;
    font-weight: 400;
    color: #222;
    text-align: center;
  }
  .brand-lap > div:last-child > div:first-child {
    font-size: 1rem;
    font-weight: 400;
    color: #222;
    text-align: center;
  }
  .brand-promiss {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .brand-promiss > div:first-child {
    width: 100%;
    height: 5.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .brand-promiss > div:first-child > div {
    font-size: 1.3rem;
    font-weight: 500;
    color: #444444;
  }
  .brand-promiss > div:first-child > img {
    width: 70%;
    height: 100%;
  }
  .brand-promiss > div:nth-child(2) {
    width: 90%;
    height: 22%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .brand-promiss > div:nth-child(2) > img {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-promiss > div:nth-child(2) > div {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .brand-promiss > div:nth-child(2) > div > div:first-child {
    font-size: 1.3rem;
    font-weight: 500;
    color: #222;
  }
  .brand-promiss > div:nth-child(2) > div > div:last-child {
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
  }
  .brand-promiss > div:nth-child(3) {
    width: 90%;
    height: 22%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .brand-promiss > div:nth-child(3) > img {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-promiss > div:nth-child(3) > div {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .brand-promiss > div:nth-child(3) > div > div:first-child {
    font-size: 1.3rem;
    font-weight: 500;
    color: #222;
  }
  .brand-promiss > div:nth-child(3) > div > div:last-child {
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
  }
  .brand-promiss > div:nth-child(4) {
    width: 90%;
    height: 22%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .brand-promiss > div:nth-child(4) > img {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-promiss > div:nth-child(4) > div {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .brand-promiss > div:nth-child(4) > div > div:first-child {
    font-size: 1.3rem;
    font-weight: 500;
    color: #222;
  }
  .brand-promiss > div:nth-child(4) > div > div:last-child {
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
  }
  .brand-history {
    width: 100%;
    height: 180vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .brand-history > div:nth-child(1) {
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 520;
    color: #222;
    letter-spacing: 0.5rem;
  }
  .brand-history > div:nth-child(2) {
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-history > div:nth-child(3) {
    width: 80%;
    height: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .brand-bottom {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .brand-bottom > div:first-child {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    border-top: solid 2px #444444;
    border-bottom: solid 2px #444444;
    padding: 1vw;
  }
  .brand-bottom > div:first-child > h4 {
    width: 50%;
    height: 12%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 1vw;
  }
  .brand-bottom > div:first-child > div:nth-child(2) {
    width: 80%;
    height: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
    padding-left: 2vw;
  }
  .brand-bottom > div:first-child > div:nth-child(3) {
    width: 80%;
    height: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
    padding-left: 2vw;
  }
  .brand-bottom > div:first-child div:nth-child(4) {
    width: 89%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
    padding-left: 2vw;
    line-height: 2;
  }
  .brand-bottom > div:first-child div:nth-child(5) {
    width: 89%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    color: #222;
    padding-left: 2vw;
    line-height: 2;
  }
  .brand-bottom > div:last-child {
    width: 55%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5vh;
  }
  footer {
    width: 1080px;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #444444;
  }
  footer > div:first-child {
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
  }
  footer > div:first-child > h2 {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer > div:first-child > h4 {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer > div:last-child {
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
    font-size: 0.7rem;
  }
  #mobile-guid-menu {
    display: none;
  }
  #guid-menu {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  #guid-menu > div {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  #guid-menu > div > a {
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FAFAFA;
    border: solid 1px #c2c2c2;
  }
  #guid-menu > div > a > div:first-child {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 2vw;
  }
  #guid-menu > div > a > div:last-child {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #guid-menu > div > a > div:last-child > img {
    width: 20px;
    height: 20px;
  }
}/*# sourceMappingURL=desktop_ver.css.map */