@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Sawarabi+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

* {
  scroll-behavior: smooth;
}

* a {
  color: #444444;
  text-decoration: none;
  cursor: pointer;
}

* {
  font-family: "Sawarabi Gothic", "M PLUS 1", sans-serif;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 3%;
  left: 5%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  transition-duration: 0.25s;
  background-color: rgb(47, 47, 47);
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(143, 43, 95, 0.8);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #ffffff;
  border-radius: 40px;
  color: rgb(47, 47, 47);
}

#root {
  width: 100vw;
  height: 880vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#mobile-area {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
}
#mobile-area .logo {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 10px;
}

#desktop-area {
  display: none;
}

#slide {
  width: 100vw;
  height: 30vh;
  position: relative;
}

.slick-list {
  width: 100%;
  height: 100%;
}

.slick-track {
  width: 100%;
  height: 100%;
}

.slide-item {
  width: 100%;
  height: 100%;
}
.slide-item > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.slide-item > a > img {
  width: 100%;
  height: 100%;
}

.slick-arrow {
  width: 5%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  top: 50%;
  background: none;
}

.slick-prev {
  left: 2%;
}

.slick-next {
  right: 2%;
}

#left-arrow, #right-arrow {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 0.8;
  position: absolute;
  z-index: 5;
  top: 22%;
}
#left-arrow > img, #right-arrow > img {
  width: 100%;
  height: 100%;
}

#left-arrow:hover, #right-arrow:hover {
  opacity: 1;
}

#left-arrow {
  left: 2%;
}

#right-arrow {
  right: 2%;
}

.slick-dots {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 100%;
}

main {
  width: 100%;
  height: 792vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
}

#main-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.brand-top {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.brand-top > div:nth-child(1) {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.brand-top > div:nth-child(1) > div:nth-child(1) {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #E8D5DA;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 550;
  color: #444444;
  line-height: 2;
}
.brand-top > div:nth-child(1) > div:nth-child(2) {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand-top > div:nth-child(1) > div:nth-child(2) > img {
  width: 90%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.brand-top > div:nth-child(1) > div:nth-child(2) > div {
  width: 90%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.brand-top > div:nth-child(1) > div:nth-child(2) > div > div {
  width: 23%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #444444;
  position: absolute;
}
.brand-top > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(1) {
  left: 2%;
}
.brand-top > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(2) {
  left: 22%;
}
.brand-top > div:nth-child(1) > div:nth-child(2) > div > div:nth-child(3) {
  left: 42%;
}
.brand-top > div:nth-child(2) {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.brand-top > div:nth-child(2) > div:first-child {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top: solid 2px #E8D5DA;
  border-bottom: solid 2px #E8D5DA;
  text-align: center;
  position: absolute;
  top: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #444444;
  line-height: 2.5;
}
.brand-top > div:nth-child(2) > div:last-child {
  width: 0%;
  height: 30%;
  border: solid 1px #E8D5DA;
  position: absolute;
  bottom: 1%;
}
.brand-top > div:nth-child(3) {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.brand-top > div:nth-child(3) > img {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.brand-media {
  width: 100%;
  height: 135vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.brand-media > iframe {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.brand-media > img:nth-child(2) {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.brand-media > div {
  line-height: 2.5;
}
.brand-media > div:nth-child(3) {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 100;
  font-size: 0.8rem;
  font-weight: 500;
  color: #222;
  text-align: right;
}
.brand-media > img:nth-child(4) {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.brand-media > div:nth-child(5) {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #444444;
}

.brand-patent {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.patent-top {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.patent-top > div:nth-child(1) {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.patent-top > div:nth-child(1) > div {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  color: #444444;
}
.patent-top > div:nth-child(1) > img {
  width: 100%;
  height: 80%;
}
.patent-top > div:nth-child(2) {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.patent-top > div:nth-child(2) > img {
  width: 100%;
  height: 45%;
}

.patent-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.patent-bottom > div:nth-child(1) {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.patent-bottom > div:nth-child(1) > div {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  color: #444444;
}
.patent-bottom > div:nth-child(1) > img {
  width: 100%;
  height: 80%;
}
.patent-bottom > div:nth-child(2) {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.patent-bottom > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
}

.brand-lap {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand-lap > div {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.brand-lap > div > div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.brand-lap > div:first-child > div:first-child > img {
  width: 100%;
  height: 100%;
}
.brand-lap > div:first-child > div:last-child {
  font-size: 0.9rem;
  font-weight: 400;
  color: #444444;
  line-height: 2;
  background-color: #E8D5DA;
}
.brand-lap > div:last-child > div:first-child {
  font-size: 0.9rem;
  font-weight: 400;
  color: #444444;
  line-height: 2;
  background-color: #E8D5DA;
}
.brand-lap > div:last-child > div:last-child > img {
  width: 100%;
  height: 100%;
}

.brand-promiss {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.brand-promiss > div:nth-child(1) {
  width: 90%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.brand-promiss > div:nth-child(1) > div {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  color: #444444;
  letter-spacing: 1px;
}
.brand-promiss > div:nth-child(1) > img {
  width: 100%;
  height: 80%;
}
.brand-promiss > div:nth-child(2) {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.brand-promiss > div:nth-child(2) > img {
  width: 37%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-right: 1px solid rgba(2, 2, 2, 0.2);
}
.brand-promiss > div:nth-child(2) > div {
  width: 63%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.brand-promiss > div:nth-child(2) > div > div:first-child {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 500;
  color: #444444;
  letter-spacing: 5px;
}
.brand-promiss > div:nth-child(2) > div > div:last-child {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: 400;
  color: #444444;
  text-align: center;
  line-height: 2;
}
.brand-promiss > div:nth-child(3) {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.brand-promiss > div:nth-child(3) > img {
  width: 37%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-right: 1px solid rgba(2, 2, 2, 0.2);
}
.brand-promiss > div:nth-child(3) > div {
  width: 63%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.brand-promiss > div:nth-child(3) > div > div:first-child {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 500;
  color: #444444;
  letter-spacing: 5px;
}
.brand-promiss > div:nth-child(3) > div > div:last-child {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: 400;
  color: #444444;
  text-align: center;
  line-height: 2;
}
.brand-promiss > div:nth-child(4) {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.brand-promiss > div:nth-child(4) > img {
  width: 37%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-right: 1px solid rgba(2, 2, 2, 0.2);
}
.brand-promiss > div:nth-child(4) > div {
  width: 63%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.brand-promiss > div:nth-child(4) > div > div:first-child {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 500;
  color: #444444;
  letter-spacing: 5px;
}
.brand-promiss > div:nth-child(4) > div > div:last-child {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: 400;
  color: #444444;
  text-align: center;
  line-height: 2;
}

.brand-history {
  width: 100%;
  height: 160vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.brand-history > div:nth-child(1) {
  width: 100%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.1rem;
  font-weight: 580;
  color: #444444;
  letter-spacing: 0.3rem;
  background-color: #E8D5DA;
}
.brand-history > div:nth-child(2) {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.brand-history > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
}
.brand-history > div:nth-child(3) {
  width: 95%;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.brand-history > div:nth-child(3) > img {
  width: 100%;
  height: 100%;
}

.brand-bottom {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.brand-bottom > div:first-child {
  width: 95%;
  height: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-top: solid 2px #444444;
  border-bottom: solid 2px #444444;
}
.brand-bottom > div:first-child > h4 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.brand-bottom > div:first-child > div:nth-child(2) {
  width: 98%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 0.85rem;
  font-weight: 400;
  color: #222;
}
.brand-bottom > div:first-child > div:nth-child(3) {
  width: 98%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 0.85rem;
  font-weight: 400;
  color: #222;
}
.brand-bottom > div:first-child div:nth-child(4) {
  width: 98%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 0.85rem;
  font-weight: 400;
  color: #222;
  line-height: 1.8;
}
.brand-bottom > div:first-child div:nth-child(5) {
  width: 98%;
  height: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 0.85rem;
  font-weight: 400;
  color: #222;
  line-height: 1.8;
}
.brand-bottom > div:last-child {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.brand-bottom > div:last-child > img {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #444444;
  font-size: 0.9rem;
}
footer > div:first-child {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
}
footer > div:first-child > h2 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer > div:first-child > h4 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer > div:last-child {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FAFAFA;
  font-size: 0.8rem;
}

#mobile-guid-menu {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#mobile-guid-menu > a {
  width: 45%;
  height: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #FAFAFA;
  border: solid 1px #c2c2c2;
}
#mobile-guid-menu > a > div:first-child {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-left: 2vw;
}
#mobile-guid-menu > a > div:last-child {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#mobile-guid-menu > a > div:last-child > img {
  width: 20px;
  height: 20px;
}

#guid-menu {
  display: none;
}/*# sourceMappingURL=style.css.map */