body,div,ul,il,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form 
{padding:0;}
body {font-size:12px;}
ul,ol,dl {list-style:none}
img {border:0; vertical-align:top;}
ul {list-style:none; padding:0; margin:0;}


#wrap {margin:0 auto; width:965px;}
#sider {float:left; width:191px;  margin-top:17px;}
#contents{float:right; width:760px; margin-top:17px;}
#select{float:right; width:760px;}



#DB_navi38 ul, #DB_navi38 li{margin:0;padding:0;list-style:none;}
#DB_navi38 p{margin:0;padding:0}
#DB_navi38 a{text-decoration:none;}
#DB_navi38 img{border:0;vertical-align:top}

#DB_navi38 {
	position: relative;
	width: 965px;
	height: px;
	top: 6px;
	left: 0px;
	font: nomal "小塚ゴシック Pro","メイリオ";
	font-size: 11px;
}
#DB_navi38 .DB_main{
	float: left;
	position: relative;
	margin-right: 0px/*ｸﾞｴｺｰ｣ｰﾝ*/;
	width:160px;
	
}
#DB_navi38 .DB_main.DB_select{z-index:1}

#DB_navi38 .DB_main .DB_sub{display:none;position:absolute;top:50px/*ｼｭｺ・ﾌ*/;border:2px solid #999;padding:4px;background:#ffffff}
#DB_navi38 .DB_main .DB_sub.s1{right:0px;width:960px;}
#DB_navi38 .DB_main .DB_sub.s2{right:-643px;width:950px;}
#DB_navi38 .DB_main .DB_sub.s3{right:-484px;width:950px;}
#DB_navi38 .DB_main .DB_sub.s4{right:-310px;width:760px;}
#DB_navi38 .DB_main .DB_sub.s5{right:-20px;width:175px;}
#DB_navi38 .DB_main .DB_sub.s6{right:1px;width:185px;}
#DB_navi38 .DB_main .DB_sub ul{float:left;width:176px;margin:5px 14px 0px 0px}
#DB_navi38 .DB_main .DB_sub ul li a{color:#333333;display:block;padding:2px; margin-top:5px;}

/* ｺ･ﾁﾘﾀﾎｰ豼・liﾀﾇ ｰ｣ｰﾝﾁｶﾁ､


#DB_navi38 .DB_main .DB_sub ul li{font-size:0}
#DB_navi38 .DB_main .DB_sub ul li a{color:#333333;display:block;padding:3px;font-size:12px}
*/
#DB_navi38 .DB_main .DB_sub ul li a:hover{color:#64addb;text-decoration:underline}

#DB_navi38 .DB_main .DB_sub .DB_show{float:right;margin:-5px}
